
@{
    ViewBag.Title = "Index";
}


<h1 class="">Hola @ViewBag.User, esperamos poder ayudarte</h1>

<br />
<h2>Estos son tus productos:</h2>
@*
        <table class="table">


            @foreach (var item in ViewBag.Resultado)
            {

                <p>
                    @item.email
                </p>
            }

            @*

                <p>Hola</p>
                <h2>@ViewBag.Resultado[1]</h2>

    </table>

    <h2>@ViewBag.Resultado[0].line_items</h2>
*@
<table class="table table-bordered table-dark" align="center">
    <thead class="thead-dark">
        <tr>
            <th> Nombre </th>

            <th> Producto </th>

            <th> Comprobante </th>
            <th> SKU </th>
            <th> Product ID </th>
            <th> Fecha </th>
        </tr>
    </thead>
    @foreach (var item in ViewBag.Resultado)
    {
        <tbody>
            <tr>
                <th>
                    @item.NOMBRE
                </th>

                <td>
                    <a href="~/Pagina/ValidadorProductosInternos/@item.ID" style="color:lightblue;">
                        @item.ID
                    </a>
                </td>

                <td>
                    <a href="@item.COMPROBANTE" target="_blank" style="color:lightblue;">
                        @item.COMPROBANTE
                    </a>
                </td>
                <td>

                    @item.SKU

                </td>
                <td>
                    @item.PRODUCT_ID
                </td>
                <td>
                    @item.FECHA_CREADO;
                </td>
            </tr>
        </tbody>
    }
        
    </table>

<br/><br /><br /><br />
<img src="~/Images/csm_trainings_01_8a14e43b84.png" class="img-fluid" alt="Responsive image">