@*seccion de contenidos*@
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h6 style="font-weight:bold">Información relacionada que te podría interesar</h6>
        </div>
    </div>
</div>
<section class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10" style="background:#fff; border:solid #e6e6e6; border-radius:15px;">
            <div class="row " style="border-bottom: 2px solid #e6e6e6;">
                <div class="col-md-3 col-sm-12">
                    <img style="width:60%;" class="img-fluid rounded mx-auto d-block mt-3"
                         src="~/Content/image_UsuarioIndex/icono_graficogratuito_NARANJA.png" alt="Alternate Text" />
                </div>
                <div class="col-md-8 col-sm-12">
                    <p class="mt-4">
                        <span style="font-size:1.1rem;"><strong >@ViewBag.tresRelacionados[0].titulo</strong></span> <br />
                       <span style="font-size:0.9rem !important;">@ViewBag.tresRelacionados[0].descripcion</span> 
                    </p>
                </div>
            </div>
            <div class="row" style="border-bottom: 2px solid #e6e6e6;">
                <div class="col-md-3 col-sm-12">
                    <img style="width:60%;" class="img-fluid rounded mx-auto d-block mt-3"
                         src="~/Content/image_UsuarioIndex/icono_graficogratuito_NARANJA.png" alt="Alternate Text" />
                </div>
                <div class="col-md-8 col-sm-12">
                    <p class="mt-4">
                        <span style="font-size:1.1rem;"><strong>@ViewBag.tresRelacionados[0].titulo</strong></span> <br />
                        <span style="font-size:0.9rem !important;">@ViewBag.tresRelacionados[0].descripcion</span>
                    </p>
                </div>
            </div>
            <div class="row " style="border-bottom: 2px solid #e6e6e6;">
                <div class="col-md-3 col-sm-12">
                    <img style="width:60%;" class="img-fluid rounded mx-auto d-block mt-3"
                         src="~/Content/image_UsuarioIndex/icono_graficogratuito_NARANJA.png" alt="Alternate Text" />
                </div>
                <div class="col-md-8 col-sm-12">
                    <p class="mt-4">
                        <span style="font-size:1.1rem;"><strong>@ViewBag.tresRelacionados[0].titulo</strong></span> <br />
                        <span style="font-size:0.9rem !important;">@ViewBag.tresRelacionados[0].descripcion</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>