
@{
    Layout = "~/Views/Shared/_LayoutStatista.cshtml"; 
}

<!doctype html>
<html lang="es">
<head>
    <!--Meta Tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bundles rederizados-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*fontawesome*@
    <script src="https://kit.fontawesome.com/2f08016506.js" crossorigin="anonymous"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*estilos*@
    <link href="~/Content/EstilosPopUp.css" rel="stylesheet" />
    <link href="~/Content/StyleBuscador.css" rel="stylesheet" />
    <link href="~/Content/StylePagBusqueda.css" rel="stylesheet" />
    @*Titulo de la pagina*@
    <title>Estadística</title>
    @*Script para cargar charts*@
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--carrucel-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- pdf descargar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--megamenu-->
    <script>
        $(document).ready(function () {
            $(".megamenu").on("click", function (e) {
                e.stopPropagation();
            });
        });

    </script>

</head>

<body style="font-family: 'MYRIADPRO-REGULAR' " >
    @*stilos tamaño de texto *@
    <style>
        h6{
            font-size:17px;
        }
        h5{
            font-size:15px;
        }
        h4{
            font-size:14px;
        }
        h2{
            font-size:34px;
        }
        p{
            font-size:17px;
        }
    </style>
   
    
    @*contnedor de seccion breadcrums, titulo carrusel pequeñ0,aside, contenido y carrusel grande de graficos *@
    <div class="container mt-5">
        <style>
        .breadcrumb-item + .breadcrumb-item::before { content: "∙"; }
        </style>
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:transparent;">
                    <li class="breadcrumb-item"><a href="/info/homeOdoo">Home</a></li>
                    <li class="breadcrumb-item"><a href="/info/ResultadoNiveles?id=@ViewBag.Elemento.CATEGORIA.PRODUCTO.SECTOR.INDUSTRIA_id&id2=1">@ViewBag.Elemento.CATEGORIA.PRODUCTO.SECTOR.INDUSTRIA.nombre</a></li>
                    <li class="breadcrumb-item"><a href="/info/ResultadoNiveles?id=@ViewBag.Elemento.CATEGORIA.PRODUCTO.SECTOR_id&id2=2">@ViewBag.Elemento.CATEGORIA.PRODUCTO.SECTOR.nombre</a></li>
                    <li class="breadcrumb-item"><a href="#">@ViewBag.Elemento.CATEGORIA.PRODUCTO.nombre</a></li>
                    <li class="breadcrumb-item"><a href="#">@ViewBag.Elemento.CATEGORIA.nombre</a></li>
                    @*<li class="breadcrumb-item active" aria-current="page">@ViewBag.Elemento.titulo</li>*@
                </ol>
            </nav>
        </div>
        @*Titulo y carrusel pequeño*@
        <div class="row ">
            <div class="col-md-7 col-12 align-self-center ms-text-center">
                <h2>@ViewBag.Elemento.titulo</h2>
            </div>
           
            <div class="col-md-5 col-12"> 
                <div class="slider slider--full"> 
                    <div class="slider__inner">
                        <input checked type="radio" name="slider__radiobox" id="slider__radiobox--1" class="slider__radiobox slider__radiobox--1"><label for="slider__radiobox--1" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item-1"></label><label for="slider__radiobox--4" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev-4"></label><label for="slider__radiobox--2" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next-2"></label>
                        <input type="radio" name="slider__radiobox" id="slider__radiobox--2" class="slider__radiobox slider__radiobox--2"><label for="slider__radiobox--2" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item-2"></label><label for="slider__radiobox--1" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev-1"></label><label for="slider__radiobox--3" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next-3"></label>
                        <input type="radio" name="slider__radiobox" id="slider__radiobox--3" class="slider__radiobox slider__radiobox--3"><label for="slider__radiobox--3" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item-3"></label><label for="slider__radiobox--2" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev-2"></label><label for="slider__radiobox--4" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next-4"></label>
                        <input type="radio" name="slider__radiobox" id="slider__radiobox--4" class="slider__radiobox slider__radiobox--4"><label for="slider__radiobox--4" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item-4"></label><label for="slider__radiobox--3" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev-3"></label><label for="slider__radiobox--1" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next-1"></label>

                        <div class="slider__slides">
                            <div class="slider__slide slider__slide--1 "><img class="img-fluid" alt="Placeholder 100%x280" src="~/Content/img/ICVU.jpeg"></div>
                            <div class="slider__slide slider__slide--2"><img class="img-fluid" alt="Placeholder 1200x600" src="~/Content/img/portadaPowerBi_DataCLIMA_PlataformaDeAnalisisYMonitoreoDelClima_BELICE.jpg"></div>
                            <div class="slider__slide slider__slide--3"><img class="img-fluid" alt="Placeholder 300x150" src="~/Content/img/portadaPowerBi_DataCLIMA_PlataformaDeAnalisisYMonitoreoDelClima_BELICE.jpg"></div>
                            <div class="slider__slide slider__slide--4"><img class="img-fluid" alt="Placeholder 800x400" src="~/Content/img/ImpactosDelHuracanETAenHonduras.jpg"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--descargar pdf iframe-->
        @*<button style="cursor: -webkit-grab; cursor: grab; margin-bottom:10px;">Descargar PDF</button>*@
        <script type="text/javascript">
            $("#verPdf").click(function () {
                var myIframe = document.getElementById("inlineFrameExample").contentWindow;
                myIframe.focus();
                myIframe.print();
                return false;
            });
        </script>
     @*seccion iframe grafico*@
        <section class="contenedor-main row">
            <main class="col-md-7 ml-md-3" style="border:1px solid #e6e6e6; border-radius:10px; border-top:none;" >
                <div class="row bg-dark mb-2" style="border:1px solid; border-top-left-radius:10px; border-top-right-radius:10px;">
                    <div class="col-md-1 col-2">
                        <img class="img-fluid mt-2" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                    </div>
                    <div class="col">
                        <p class="mt-2" style="color:#fff;">@ViewBag.Elemento.titulo</p>
                    </div>
                </div>
                <!--Iframe de grafico-->
                <iframe id="inlineFrameExample"
                        style=" width:100%;height:95%;"
                        scrolling="no"
                       @* src="~/Grafico/@ViewBag.grafico?id=@ViewBag.Resultado.URL&id=3=@ViewBag.file">*@
                       
                        @{ 
                            //string rutaGrafico = "/Grafico/" + ViewBag.Elemento.TIPO_GRAFICO.nombre + "?id=" + ViewBag.Elemento.id;// "&id=3=" + ViewBag.file;
                        }
                      
                        src="/info/dashboard?id=@ViewBag.Elemento.id">
                </iframe>
                
                <div class="row no-gutters" style="color:blue; font-size:10px;">
                    <div class="col-md-2 col-3 text-center mt-2 mb-5" style="border-right:1px solid #d9d9d9;">
                        <a href="#"><span>Ver información</span></a>
                    </div>
                    <div class=" col-md-1 col-2 text-center mt-2 mb-5 ml-md-1 mr-md-1" style="border-right:1px solid #d9d9d9;">
                        <a href="#"><span>Ver fuentes</span></a>

                    </div>

                    <div class="col-md-1 col-2 text-center mt-2 mb-5 ml-md-1 mr-md-1" style="border-right:1px solid #d9d9d9;">
                        <a href="javascript:void(0);">
                            <span id="verPdf">Ver en Pdf</span>
                        </a>
                        <script type="text/javascript">
                            $("#verPdf").click(function () {
                                var myIframe = document.getElementById("inlineFrameExample").contentWindow;
                                myIframe.focus();
                                myIframe.print();
                                return false;
                            });
                        </script>
                    </div>
                    <div class="col">
                        <div class="row d-flex">
                            <div class="col-5 mb-1 ml-auto p-1">
                                <img class="img-fluid " src="~/Content/img/logosDataIntelligence_creadopor.png" alt="Logo transparente" />
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <script>

                    </script>
                </div>
            </main>
           @*sidde*@
            <aside class="col-md-4 align-self-start" style=" background-color: white">
                <!--efecto flotante de esta seccion-->
                <div class="sticky-top" style="z-index:1;">
                    <h6 style="margin:8px; color:black; "><strong>∙</strong> Descargar informe</h6>
                    <section style="background:#fff; border-radius:15px; background-color:#f0f3f5;">
                        <div class="contenedor ">
                            <div class="row d-sm-flex mx-sm-auto" style="padding:10px; margin-bottom:10px;">
                                <div class=" col-3 col-md-3 text-center ">
                                    <button type="button" class="btn2"  data-toggle="modal" data-target="#myModal" data-backdrop="false"><img class="img-fluid" src="~/Content/img/boton_archivo_pdf.png" /></button>
                                    <!-- Modal -->
                                    <div class="modal " id="myModal" role="dialog">
                                        <div class="modal-dialog modal-lg">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                </div>
                                                <div class="modal-body">
                                                    <section class="pricing py-5 mb-md-5">
                                                        <div class="container">
                                                            <div class="row">
                                                                <!-- Free -->
                                                                <div class="col-lg-4">
                                                                    <div class="card mb-5 mb-lg-0">
                                                                        <div class="card-body">
                                                                            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                                                                            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                                                                            <hr>
                                                                            <ul class="fa-ul">
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                                                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                                                                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                                                                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                                                                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                                                                            </ul>
                                                                            <a href="https://dataintelligence.store/products/avance-del-covid-19-cl" target="_blank" class="btn btn-block btn-primary text-uppercase">Button</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- Plus  -->
                                                                <div class="col-lg-4">
                                                                    <div class="card mb-5 mb-lg-0">
                                                                        <div class="card-body">
                                                                            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                                                                            <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
                                                                            <hr>
                                                                            <ul class="fa-ul">
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                                                                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                                                                            </ul>
                                                                            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- Pro -->
                                                                <div class="col-lg-4">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                                                                            <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
                                                                            <hr>
                                                                            <ul class="fa-ul">
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
                                                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
                                                                            </ul>
                                                                            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-md-3 text-center">
                                    <button type="button" class="btn2" data-toggle="modal" data-target="#myModal2" data-backdrop="false"><img class="img-fluid" src="~/Content/img/boton_archivo_exe.png" /></button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal2" role="dialog">
                                        <div class="modal-dialog modal-lg">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                </div>
                                                <div class="modal-body">
                                                    <div class="columns">
                                                        <ul class="price">
                                                            <li class="header">Basic</li>
                                                            <li class="grey">$ 9.99 / year</li>
                                                            <li>10GB Storage</li>
                                                            <li>10 Emails</li>
                                                            <li>10 Domains</li>
                                                            <li>1GB Bandwidth</li>
                                                            <li class="grey"><a href="#" class="button">Sign Up</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="columns">
                                                        <ul class="price">
                                                            <li class="header" style="background-color:#4CAF50">Pro</li>
                                                            <li class="grey">$ 24.99 / year</li>
                                                            <li>25GB Storage</li>
                                                            <li>25 Emails</li>
                                                            <li>25 Domains</li>
                                                            <li>2GB Bandwidth</li>
                                                            <li class="grey"><a href="#" class="button">Sign Up</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="columns">
                                                        <ul class="price">
                                                            <li class="header">Premium</li>
                                                            <li class="grey">$ 49.99 / year</li>
                                                            <li>50GB Storage</li>
                                                            <li>50 Emails</li>
                                                            <li>50 Domains</li>
                                                            <li>5GB Bandwidth</li>
                                                            <li class="grey"><a href="#" class="button">Sign Up</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-md-3   text-center">
                                    <button type="button" class="btn2" data-toggle="modal" data-target="#exampleModalCenter" data-backdrop="false">
                                        <img class="img-fluid" src="~/Content/img/boton_archivo_jpg.png" />
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Función exclusiva de la Cuenta Corporativa
                                                        Esta función se reserva a los usuarios con cuentas profesionales.
                                                        Si desea recibir más información sobre este tipo de cuenta, póngase en contacto con nosotros. Solicitar información.
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-md-3  text-center">
                                    <button type="button" class="btn2" data-toggle="modal" data-target="#exampleModalCenter">
                                        <img class="img-fluid" src="~/Content/img/boton_archivo_ppt.png" />
                                    </button>

                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Seccion Iconos descargas-->
                    <h6 style="padding-left:3%; padding-top:5%; font-family:'MYRIADPRO-REGULAR'; color:black;"><strong>∙</strong> Información</h6>
                    <section class="widgets1" style="background:#FFF; margin-top:10px; margin-bottom:10px; border-radius:15px; background-color:#f0f3f5; padding-top:5%; padding-bottom:2%;">
                        <div style="padding-left: 3%;">
                            <p style="color:black;" href="#"><ion-icon name="return-down-forward-outline"></ion-icon><strong>∙</strong> Ver Información de la Fuente</p>
                            <p style="color:black;" href="#"><ion-icon name="return-down-forward-outline"></ion-icon><strong>∙</strong> Ver Información del Editor</p>
                            @*<p>
                                <strong>Abrir esta estadística en...</strong><br>
                                @ViewBag.ELEMENTO.idioma
                            </p>
                            *@
                        </div>

                    </section>
                    <h6 style="padding-left:3%; padding-top:5%; color:black"><strong>∙</strong> Información General</h6>
                    <section class="widgets2 text-right" style="font-size:17px;  background:#FFF;color:black; padding-left:5%; padding-right:30%; padding-top: 5%; padding-bottom:2%; margin-top:10px; border-radius:15px; background-color:#f0f3f5; ">
                        <p>
                            <strong>Publicado: </strong>
                            @*
                                  @ViewBag.Resultado.FECHA_PUBLICACION
                            *@
                            @*ViewBag.ELEMENTO._fecha_publicacion*@
                        </p>

                        <p>
                            <strong>Región: </strong>

                            @ViewBag.ELEMENTO.TERRITORIO.nombre
                        </p>

                        <p>
                            <strong>Periodo de estudio: </strong>

                            @ViewBag.ELEMENTO.TEMPORALIDAD._fecha_inicio y @ViewBag.ELEMENTO.TEMPORALIDAD._fecha_termino
                        </p>

                        <p>
                            <strong>Grupo de edad: </strong>

                            @ViewBag.ELEMENTO.rango_edad
                        </p>

                    </section>
                    <button type="button" class="btn btn-primary" id="boton" > Más Información</button>
                </div>
                
            </aside>
        </section>
        @*Seccion de contenidos*@
    <div class="col-12 pl-2">
        <h6 style="font-weight:bold">Información disponible sobre el tema</h6>
    </div>
        <section class="container widgets" style="background:#fff; border:solid #e6e6e6; border-radius:15px;">
        <div class="col-md-12 pt-md-3">
            <div class="row" style="border-bottom: 2px solid #e6e6e6;">
                <div class="col-md-2 col-sm-12">
                    <img style="width:90%;" class="img-fluid rounded mx-auto d-block mt-4 mb-4" src="~/Content/img/portadaPowerBi_DataCLIMA_PlataformaDeAnalisisYMonitoreoDelClima_BELICE.jpg" alt="Alternate Text" />
                </div>
                <div class="col-md-10 col-sm-12">
                    <p style="padding-top:10px;">
                        <span style="font-size:20px;"><strong> @ViewBag.ELEMENTO.titulo</strong></span> <br />
                        <span style="font-size:17px; padding-top:10px;">@ViewBag.ELEMENTO.descripcion </span><br />
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type
                    </p>
                </div>
            </div>

            <span id="leerMas" style="display:none;">

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                </p> <br />


            </span>
        </div>

        <div class="col-md-12">
            <div class="row" style="border-bottom: 2px solid #e6e6e6;">
                <div class="col-md-2 col-sm-12">
                    <img style="width:90%;" class="img-fluid rounded mx-auto d-block mt-4 mb-4" src="~/Content/img/portadaPowerBi_DataCLIMA_PlataformaDeAnalisisYMonitoreoDelClima_BELICE.jpg" alt="Alternate Text" />
                </div>
                <div class="col-md-10 col-sm-12">
                    <p style="padding-top:10px;">
                        <span style="font-size:20px;"><strong> @ViewBag.ELEMENTO.titulo</strong></span> <br />
                        <span style="font-size:17px; padding-top:10px;">@ViewBag.ELEMENTO.descripcion </span><br />
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type
                    </p>
                </div>
            </div>
            <span id="leerMas" style="display:none;">

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                </p> <br />


            </span>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2 col-sm-12" >
                    <img style="width:90%;" class="img-fluid rounded mx-auto d-block mt-4 mb-4" src="~/Content/img/portadaPowerBi_DataCLIMA_PlataformaDeAnalisisYMonitoreoDelClima_BELICE.jpg" alt="Alternate Text" />
                </div>
                <div class="col-md-10 col-sm-12">
                    <p style="padding-top:10px;">
                        <span style="font-size:20px;"><strong> @ViewBag.ELEMENTO.titulo</strong></span> <br />
                        <span style="font-size:17px; padding-top:10px;">@ViewBag.ELEMENTO.descripcion </span><br />
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type
                    </p>
                </div>
            </div>

            <span id="leerMas" style="display:none;">

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                </p> <br />
            </span>
        </div>

    </section>

    </div>
    <!--seccion de suscripciones-->
    <div class="container-fluid text-center" style=" background-image: url('/Content/image_estadistica/portadaInicio_100_6.jpg');padding-bottom:40px; background-size:cover;">
        <div class="row">
            <div class="col">
                <h3 style="color:#fff; padding:40px 0px; ">
                    ¡El acceso más conveniente!
                </h3>
            </div>
           
        </div>
        <!-- Row -->
        <div class="row d-flex justify-content-center ">
            <div class="col-md-3 col-10">
                <div class="row d-block">
                    <div class="col mb-3">
                        <div class="card  mb-3" style="border-radius:20px; height:420px">
                            <div class="card-header text-center" style="border: none;">
                                Cuenta Básica Gratuita
                            </div>
                            <div class="card-body text-success text-left" style="margin-left:10px; margin-right:10px;border-radius:15px; background-color:#716f70; ">
                                <span style="color:#fff">
                                    
                                    @*En esta cuenta nos podrás conocer, ver algunos de los materiales
                                    disponibles y observar su potencial. Incluye:*@
                                </span>
                                <ul style="list-style: none;color:#fff;padding-top:15px;font-size:12px; text-align:left; padding-left:0px !important;margin-bottom:0px !important">
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Gráficos, Mapas interactivos y diagramas</li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Descargas en Excel, PNG y PDF</li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Brief DI </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Uso por 1 año </li>
                                  
                                </ul>
                            </div>

                            <div class="card-footer" style="border: none;">
                                <div class="row">
                                    <div class="col-6" style="border-right:0.5px solid #b5a7a7;font-size:9px;text-align:right ">

                                        <span style="color:red; font-size:18px;">$0 </span><span><strong>USD</strong></span><br />
                                        ACCESO INDIVIDUAL
                                    </div>
                                    <div class="col-4 col-md-1 mr-md-1">
                                        <button class="sub btn btn-danger btn-sm mt-2" style="border-radius:20px; font-size:12px;">
                                            Inscribirse
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col mb-md-3 ">
                        <div class="card  mb-3" style=" border-radius:20px; height:420px">
                            <div class="card-header text-center" style="border: none;">
                                Cuenta Profesional
                            </div>
                            <div class="card-body text-success text-left" style="margin-left:10px; margin-right:10px;border-radius:15px; background-color:#716f70; ">
                                <p style="color:#fff">
                                    @*Podrás acceder a un contenido profesional, pensado para profundizar en tu área de interés.*@
                                </p>
                                <ul style="list-style: none;color:#fff;font-size:12px;padding-top:30px; text-align:left; padding-left:0px !important;margin-bottom:0px !important">

                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Gráficos, Mapas interactivos y diagramas </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Descargas en Excel, PNG y PDF.</li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Brief DI  </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Informes DI </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Uso por 1 año </li>
                                </ul>
                            </div>

                            <div class="card-footer" style="border: none;">
                                <div class="row">
                                    <div class="col-6" style="border-right:0.5px solid #b5a7a7;font-size:9px;text-align:right ">
                                        <span style="color:red; font-size:18px;">$35</span><span><strong> USD</strong> mensual</span><br />
                                        ACCESO INDIVIDUAL
                                    </div>
                                    <div class="col-4 col-md-1 mr-md-1">
                                        <button class="sub btn btn-danger btn-sm mt-2" style="border-radius:20px; font-size:12px;">
                                            Subscribirse
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-10">
                <div class="row d-block ">
                    <div class="col-12 mb-3 text-center">
                        <span style="color:#fff;">
                            @*Desde una cuenta sin pago hasta cuentas mensuales y anuales, personales o para instituciones*@
                        </span>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="card  mb-3" style=" border-radius:20px; background-color:transparent;">

                            <div class="card-body text-success mt-5" style="margin-left:10px; color:#fff; margin-right:10px;  ">
                                <img class="img-fluid" src="~/Content/image_estadistica/texto_venta1.png" alt="Alternate Text" />

                            </div>
                            <div class="card-footer mt-5" style="border: none; color:#fff;">
                                <img class="img-fluid" src="~/Content/image_estadistica/texto_venta2.png" alt="Alternate Text" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-10" >
                <div class="row d-block">
                    <div class="col mb-3 ">
                        <div class="card  mb-3" style="border-radius:20px;height:420px">
                            <div class="card-header text-center" style="border: none;">
                                Cuenta Universidad y ONG'S
                            </div>
                            <div class="card-body text-success text-left" style="margin-left:10px; margin-right:10px;border-radius:15px; background-color:#716f70; ">
                                @*<span style="color:#fff">
                                    Contamos con información especial para instituciones académicas o sociales para complementar sus proyectos o investigaciones.
                                </span>*@
                                <ul style="list-style: none;color:#fff;font-size:12px;padding-top:30px; text-align:left; padding-left:0px !important;margin-bottom:0px !important">

                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Gráficos, Mapas interactivos y diagramas </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Descarga en Excel, PNG y PDF.</li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Brief DI </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Informe DI </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Uso por 1 año </li>
                                </ul>
                            </div>

                            <div class="card-footer" style="border: none;">
                                <div class="row">
                                    <div class="col-6" style="border-right:0.5px solid #b5a7a7;font-size:9px;text-align:right ">
                                        <span style="color:red; font-size:18px;">$500</span><span><strong> USD </strong>mensual</span><br />
                                        ACCESOS GRUPALES
                                    </div>
                                    <div class="col-4 col-md-1 mr-md-1">
                                        <button class="sub btn btn-danger btn-sm mt-2" style="border-radius:20px; font-size:12px;">
                                            Subscribirse
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col mb-3 ">
                        <div class="card  mb-3" style="border-radius:20px;height:420px;">
                            <div class="card-header text-center" style="border: none;">
                                Cuenta Empresas e Instituciones
                            </div>
                            <div class="card-body text-success text-left" style="margin-left:10px; margin-right:10px;border-radius:15px; background-color:#716f70;">
                                <span style="color:#fff">
                                    @*Tendrás acceso a todas nuestras estadísticas e información acerca de tu área de interés.Un elemento clave para conocer de manera eficiente y rápida cualquier ítem que requieras.*@
                                    
                                </span>
                                <ul style="list-style: none;color:#fff;font-size:12px;padding-top:5px; text-align:left; padding-left:0px !important;margin-bottom:0px !important">
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Gráficos, mapas interactivos y diagramas </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Descargas en Excel, PNG y PDF.</li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Brief DI  </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Informe DI </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Reporte 360 DI </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Encuestas</li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Servicio de investigación </li>
                                    <li><span><img class="img-fluid" style="width:12px;" src="~/Content/image_estadistica/ticked.png" alt="Alternate Text" /></span> Uso por 1 año </li>
                                </ul>
                            </div>

                            <div class="card-footer" style="border: none;">
                                <div class="row">
                                    <div class="col-6 text-xl-right " style="border-right:0.5px solid #b5a7a7;font-size:9px;text-align:left ">
                                        <span style="color:red; font-size:18px;">$700</span><span><strong> USD</strong> mensual</span><br />
                                        ACCESOS GRUPALES
                                    </div>
                                    <div class="col-4 col-md-1 mr-md-1">
                                        <button class="sub btn btn-danger btn-sm mt-1" style="border-radius:20px; font-size:12px;">
                                            Subscribirse
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
  
            <!--carrucel-->
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row ml-1 mr-1 " style="border:1px solid rgb(0 0 0 / 0.00); border-radius:10px; background-color:#bf1522;" >
                    <div class="col-8 col-md-6">
                        <p class="mt-2" style="color:#ffffff;">
                            @*Uso de los medios de comunicación en España *@<strong>∙</strong> @ViewBag.ELEMENTO.CATEGORIA.PRODUCTO.SECTOR.nombre en
                            @ViewBag.ELEMENTO.TERRITORIO.nombre
                        </p>
                    </div>
                    <div class="col-4 col-md-6 text-right mt-2 ">
                        <a class=" mr-1" href="#carouselExample" role="button" data-slide="prev" style="text-decoration: none; background-color: #c6c6c6; padding: 3px 3px 5px 5px;">
                            <i class="fa fa-arrow-left align-baseline" style="color:red; font-size:0.8rem;"></i>
                        </a>
                        <a  href="#carouselExample" role="button" data-slide="next" style="text-decoration: none; background-color: #c6c6c6; padding: 3px 5px 5px 5px;">
                            <i class="fa fa-arrow-right align-baseline" style="color:red;font-size:0.8rem; "></i>
                        </a>
                    </div>
                </div>
                    <div class="container-fluid mt-4">
                        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
                            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                <div class="carousel-item col-md-3  active"  style="margin-right:0px;">
                                    <div class="panel panel-default">
                                        <div class="card" style="border: 0.5px solid #e6e6e6; border-radius:25px;background-color: #ffffff;">
                                            <a href="~/info/index?id=2" style="color:#000;">

                                                <div class="card-body">
                                                    <h4 class="card-title text-center mt-md-2">@ViewBag.ELEMENTO.titulo</h4>
                                                    <img class="img-fluid mx-0 mt-md-2  " alt="100%x280" src="~/Content/iconos_PopUp/gracircular (1).png">

                                                    <h5 class="card-text text-center"> @ViewBag.ELEMENTO.descripcion</h5>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                @foreach (var item in ViewBag.listaAsociado)
                                 {
                                    <div class="carousel-item col-md-3" style="margin-right:0px;">
                                        <div class="panel panel-default">
                                            <div class="card" style="border:0.5px solid #e6e6e6; border-radius:25px; background-color:#f2f2f2;">
                                                @* <a href="~/info/index?id=@ViewBag.Elemento.id" style="color:#000;">*@
                                                <a href="~/info/index?id=@item.id" style="color:#000;">
                                                    <div class="card-body">
                                                        <h4 class="card-title text-center mt-md-2">@item.titulo</h4>
                                                        @*<img class="img-fluid mx-0 mt-md-2" alt="100%x280" src="~/Content/iconos_PopUp/gracircular (1).png">*@
                                                        @{ 
                                                            string url = "https://raw.githubusercontent.com/Sud-Austral/MPG/main/Image/" + item.GetURL();
                                                            url = url.Replace(".csv", ".png");
                                                        }
                                                        <img class="img-fluid mx-0 mt-md-2" alt="100%x280" src="@url">
                                                        <h5 class="card-text text-center"> @item.descripcion</h5>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                 }

                            </div>

                        </div>
                    </div>
                
            </div>
        </section>
       
    <!--nav verticar-->
    <div class="container">
        <!--nav verticar
        <section class="container mt-4">
            <div class="text-left mb-md-3" style="border:0.5px solid rgb(0 0 0 / 0.00) ; border-radius:10px; background-color:#bf1522;">
                <h6 style="color:#ffffff;" class="mb-md-3 mt-md-3 ml-md-2"><strong>∙</strong> Información similar de este UN PRODUCTO</h6>
            </div>
            @*<h4 class="text-center mb-md-5 mt-md-5"><strong>Estadísticas sobre </strong>"El consumo de prensa en España"</h4>*@
            <div class="row" style="margin-bottom:20px; height:500px !important; overflow-y:scroll;" >
                <div class="col-12 col-md-6">
                    <div class="row list-group" id="list-tab" role="tablist">
                        
                            @foreach (var item in ViewBag.listaAsociado)
                            {
                                <a class="list-group-item list-group-item-action" id="list-@item.nombre-list" data-toggle="list" href="#list-@item.nombre" role="tab" aria-controls="@item.nombre" style="color:#000; font-family:MYRIADPRO-REGULAR;">@item.titulo</a>
                            }
                            @*
                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings" style="color:#000;">Empresas</a>
                            *@
                    </div>
                    

                </div>
                <div class="col-md-6 ">
                    <h6 style="color:#000;margin-top:10px;"><strong>∙ Información mas relevante</strong></h6>
                    <div class="row" >
                        <div class="tab-content col-8"  id="nav-tabContent"  >
                            @foreach (var item in ViewBag.listaAsociado)
                            { 
                                <a href="~/info/index?id=@item.id">
                                     <div class="row">
                                        <div class="col-7 tab-pane fade" id="list-@item.nombre" role="tabpanel" aria-labelledby="list-@item.nombre-list" style="border:0.5px solid #808080; border-radius:10px;">
                                            <img class=" img-fluid mx-0 " style="width:20%;" src="~/Content/img/icono_grafico.png" alt="Alternate Text" />
                                            @item.descripcion
                                        </div>

                                    </div>
                                </a>

                             }
                              
                            @*
                                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">4 Empresas</div>*@
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        -->
        <!--Seccion con scrollbar
        <section style="margin-bottom:100px; background:#F7F9FA">
            <br />
            <br />
            <h4 class="text-center mb-md-4"><strong>Otros contenidos:</strong> También le podría interesar</h4>
            <strong style="margin-left: 80px;">Estadisticas</strong>
            <div class="row container ml-md-5" style="list-style:none;">

                <div class="col-md-7" style="width:600px; height:350px; overflow-x: hidden!important; overflow-y: scroll; margin-bottom:50px; background:#fff;">

                    <ul class="list-group mb-md-7" style="list-style:none">

                        @foreach (var item in ViewBag.listaOtrosContenidos)
                        {
                            <li class="mt-md-3"><span><img class="mr-md-2 mb-md-2" src="~/Content/iconos_PopUp/barra-grafica.png" alt="Alternate Text" /></span>@item.nombre</li>
                        }
                        @*
                        <li><span><img class="mr-md-2 mb-md-2" src="~/Content/iconos_PopUp/barra-grafica.png" alt="Alternate Text" /></span>A simple primary list group item</li>

                        <li><span><img class="mr-md-2 mb-md-2" src="~/Content/iconos_PopUp/barra-grafica.png" alt="Alternate Text" /></span>A simple secondary list group item</li>

                        @for (int i = 0; i < 10; i++)
                        {
                        <li><span><img class="mr-md-2 mb-md-2" src="~/Content/iconos_PopUp/barra-grafica.png" alt="Alternate Text" /></span>@i</li>
                        }
                        *@
                    </ul>
                </div>
                <div class="col-md-5">

                    <div class="row">

                        <div class="col-md-2 mb-md-4">
                            <img src="~/Content/img/Diseño sin título - copia.png" />
                        </div>
                        <div class="col-md-9 ml-md-3">
                            <p>
                                @*
                                @ViewBag.Resultado.TITULO
                                *@
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
            -->
        @* Seccion de buscador*@
        <section class="call-to-action">
            <div class="container">
                <div class="row ml-1 mr-1">
                    <div class="col-md-6 col-sm-8 m-text-center" style="background-color:#000; height:200px;">
                        <div class="p-1 bg-light  shadow-sm mb-4 mt-4" style="border-radius:25px !important;">
                            <div class="input-group" >
                                <div class="input-group-prepend">
                                    <button id="button-addon2" type="submit" class="btn btn-link text-dark"><i class="fa fa-search"></i></button>
                                </div>
                                <input type="search" placeholder="Búsqueda por palabras claves" aria-describedby="button-addon2" class="form-control rounded border-0 bg-light" style="border-radius:25px !important;">
                            </div>
                        </div>
                        <h5 style="color:#fff;">¿Desea conocer más sobre nuestras soluciones profesionales?</h5>
                        <p id="last">Le enviaremos encantados información detallada sobre nuestra Cuenta Corporativa.</p>
                    </div>
                    <div class="col-md-6 col-sm-4" style="background-image: url('/Content/img/ofrecemos_fondo_busqueda.jpg'); background-size: cover;">
                        <img class="img-fluid offset-6" style="width:50%;" src="~/Content/img/blanco-trans - copia.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </section>
    </div>
    @*Footer*@
    <footer class="row">
        <div class="col">
            <h4 style="padding-left:50px;">Footer</h4>
        </div>

    </footer>
    <!--test highchart-->
    <script src="~/Scripts/highcharts.js"></script>
    <!--script de buscador-->
    <script src="~/Scripts/ScriptBuscador.js"></script>
    <!--Script de ocultar texto-->
    <script src="~/Scripts/OcultarBoton.js"></script>
    <!--Jquery, popper y Bootstrap-->
    <script src="~/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
