
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index2</title>
    <!--Meta Tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bundles rederizados-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*fontawesome*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2f08016506.js" crossorigin="anonymous"></script>
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    @*estilos*@
    <link href="~/Content/EstilosPopUp.css" rel="stylesheet" />
    <link href="~/Content/StylePagBusqueda.css" rel="stylesheet" />
    @*Titulo de la pagina*@
    <title>Resultados de Busqueda</title>
    <!-- pdf descargar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
   
    <div class="container">
        @*Buscador general *@
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 bg-light">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-8 text-center mb-2">
                            <h4 class="tituloBuscador mb-3 font-weight-medium" style="color:black">¡Explora, busca y encuentra en todo nuestro universo de datos!</h4>
                            <form action="~/info/PaginaBusqueda" method="get">
                                <input class="buscador typeahead form-control" type="text" id="id" name="id" placeholder="Busqueda de palabras claves" style="border-radius:10px;">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Buscador general *@

        @*boton para ir atras*@
        <div class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-md-10">
                    <input type="button" class="btn btn-danger btn-sm " style="border-radius: 25px; font-size: 14px; margin: 0px; width: 100px; cursor:pointer" ; onClick="history.go(-1);" name="volver atrás" value="Atrás">
                </div>
            </div>
        </div>
        
        @*fin boton para ir atras*@

        <div class="container">
            <style>
                .breadcrumb-item + .breadcrumb-item::before {
                    content: "∙";
                }
            </style>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" style="background-color:transparent;">
                            <li class="breadcrumb-item"><a href="/info/homeOdoo">Home</a></li>
                            <li class="breadcrumb-item"><a href="/info/ResultadoNiveles?id=@ViewBag.Elemento.CATEGORIA.PRODUCTO.SECTOR.INDUSTRIA_id&id2=1">@ViewBag.Elemento.CATEGORIA.PRODUCTO.SECTOR.INDUSTRIA.nombre</a></li>
                            <li class="breadcrumb-item"><a href="/info/ResultadoNiveles?id=@ViewBag.Elemento.CATEGORIA.PRODUCTO.SECTOR_id&id2=2">@ViewBag.Elemento.CATEGORIA.PRODUCTO.SECTOR.nombre</a></li>
                            <li class="breadcrumb-item"><a href="/info/ResultadoNiveles?id=@ViewBag.Elemento.CATEGORIA.PRODUCTO_id&id2=3">@ViewBag.Elemento.CATEGORIA.PRODUCTO.nombre</a></li>
                            <li class="breadcrumb-item"><a href="#">@ViewBag.Elemento.CATEGORIA.nombre</a></li>

                        </ol>
                    </nav>
                </div>

            </div>
        </div>
        <!--descargar pdf iframe-->
        @*seccion iframe grafico*@
        <section class="contenedor-main row mr-md-2 justify-content-center">
            <main class="col-md-10" style="border:1px solid #e6e6e6; border-radius:10px; border-top:none; height:610px !important;">
                <div class="row bg-dark mb-2" style="border:1px solid; border-top-left-radius:10px; border-top-right-radius:10px;max-height:65px;">
                    <div class="col-md-1 col-2">
                        <img class="img-fluid m-2 align-self-center" width="40" src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="Alternate Text" />
                    </div>
                    <div class="col">
                        <p class="mt-md-2" style="color:#fff;">@ViewBag.Elemento.titulo</p>
                    </div>
                </div>
                <!--Iframe de grafico-->
                <iframe id="inlineFrameExample" style="width:100%; height:460px;" src="/info/dashboard?id=@ViewBag.Elemento.id">
                </iframe>

                <div class="row no-gutters" style="color:blue; font-size:10px;">

                    <div class="col-2 mr-3">
                        <button type="button"  class="btn btn-primary" id="boton" style="margin-bottom:20px; font-size:14px;">Más información</button>
                    </div>
                    <div class="col-md-1 col-2 text-center mt-2 mb-5 ml-md-1 mr-md-1" style="border-right:1px solid #d9d9d9;">
                        <a href="javascript:void(0);">
                            <span id="verPdf2" style="font-size:12px;">Ver en Pdf</span>
                        </a>
                        <script type="text/javascript">
                            $("#verPdf2").click(function () {
                                var myIframe = document.getElementById("inlineFrameExample").contentWindow;
                                myIframe.focus();
                                myIframe.print();
                                return false;
                            });
                        </script>
                    </div>
                    <div class="col">
                        <div class="row d-flex " style="justify-content:flex-end;">
                            <div class="col-5 mb-1 p-1">
                                <img class="img-fluid " src="~/Content/img/logosDataIntelligence_creadopor.png" alt="Logo transparente" />
                            </div>
                        </div>
                    </div>
                </div>

            </main>

        </section>
        <section class="container-main mb-5" id="leerMas" style="display:none; background:#fff;">
            <div class="row justify-content-center">
                <div class="col-md-10" style="border:2px solid #e6e6e6; border-radius:15px; ">
                    <div class="row">
                        <div class="col-md-4 m-3" style="border-right:0.5px solid #e6e6e6;">
                            <p style="margin-bottom:0px !important;"><strong>Descripción:</strong></p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book.
                            </p>
                        </div>
                        <div class="col-md-3 m-3" style="border-right:0.5px solid #e6e6e6;">
                            <p class="mb-5"><strong>Fuente de Datos:</strong></p>
                            <p class="mb-5">
                                <strong>Periodo: </strong>

                                @ViewBag.ELEMENTO.TEMPORALIDAD._fecha_inicio y @ViewBag.ELEMENTO.TEMPORALIDAD._fecha_termino
                            </p>
                            <p>
                                <strong>Territorio: </strong>

                                @ViewBag.ELEMENTO.TERRITORIO.nombre
                            </p>
                        </div>
                        <div class=" col-md-4">
                            <div class="row justify-content-center mb-md-3">
                                <p class="mb-4 mt-3"><strong>Ver más información</strong></p>
                                <div class="col-md-6 text-center">
                                    <img class="img-fluid mb-4 " src="~/Content/image_UsuarioIndex/icono_informeinteractivo_AZUL.png" />
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#myModal1" data-backdrop="True" style="font-size: 12px; width: 165px; border-radius: 25px; margin-left: 5px;">
                                        Ver Informe Interactivo
                                    </button>
                                </div>
                                @*Modal*@
                                <div class="modal fade" id="myModal1" role="dialog">
                                    <div class="modal-dialog modal-lg">

                                        <!-- Modal content-->
                                        <div class="modal-content" style="background-color:black;">
                                            <div class="modal-header">
                                                <p style="color:white">
                                                    Este INFORME INTERACTIVO es posible adquirirlo de dos formas:
                                                </p>
                                                <button type="button" class="close" style="color:white" data-dismiss="modal">&times;</button>

                                            </div>
                                            <div class="modal-body">
                                                <div class="row m-1" style="background-color:white; border-radius: 5px;">
                                                    <div class="col-5 p-1">
                                                        <div class="col-12">
                                                            <img style="height:80%; width:80%" src="/Content/image_estadistica/logo_informeinteractivo.png" /><br> <br>
                                                        </div>
                                                        <div class="col-12 ">
                                                            <div class="row">
                                                                <div class="col-5" style="border-right:0.5px solid #b5a7a7; text-align:right ">
                                                                    <span> USD </span><span style="color:red; font-size:22px;">10</span>
                                                                    pago único
                                                                </div>
                                                                <div class="col-7">
                                                                    <form action="https://dataintelligence.store/products/feminicidios-de-mujeres-y-ninas-2016-2019-el-salvador">
                                                                        <button class="sub btn btn-danger btn-sm mt-2" style="border-radius:20px; font-size:12px;">
                                                                            Adquirir
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-7 p-1">
                                                        <p style="color:red;"> Con un único pago, puede interactuar  en los filtros activos durante todo 1 año.</p>

                                                        <p class="font-weight-bold" style="color:black;"> Incluye:</p>
                                                        <ul style="color:black;">
                                                            <li>Descargas en PDF, PNG y Excel.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row m-1" style="background-color:white; border-radius:5px; margin-top:2%;">
                                                    <div class="col-5 p-1">
                                                        <div class="col-12">
                                                            <img style="height:80%; width:80%" src="/Content/image_estadistica/imagenpromocion_2.png" /><br><br><br><br><br><br>
                                                        </div>
                                                        <div class="col-12 ">
                                                            <div class="row">
                                                                <div class="col-5" style="border-right:0.5px solid #b5a7a7; text-align:right ">
                                                                    <span> USD </span><span style="color:red; font-size:22px;">35</span>
                                                                    mensuales
                                                                </div>
                                                                <div class="col-7">
                                                                    <form action="https://dataintelligence.store/products/feminicidios-de-mujeres-y-ninas-2016-2019-el-salvador">
                                                                        <button class="sub btn btn-danger btn-sm mt-2" style="border-radius:20px; font-size:12px;">
                                                                            Adquirir
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-7 p-1">
                                                        <p style="color:red;">
                                                            Cuenta suscripción anual con acceso  la colección completa de los temas de un sector.
                                                        </p>
                                                        <p class="font-weight-bold" style="color:black;"> Incluye:</p>
                                                        <ul style="color:black;">
                                                            <li>Acceso a miles de Gráficos, Mapas interactivos y diagramas.</li>
                                                            <li>Acceso a todos los Informes Interactivos.</li>
                                                            <li>Acceso a Reportes 360º con 30% de descuento.</li>
                                                            <li>Descargas en PDF, PNG y Excel.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer text-center">
                                                <img class="mx-0 pull-left" style="width:35%; height:35%;" src="/Content/img/blanco-trans - copia.png" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6 text-center">
                                    <img class="img-fluid mb-4 " src="~/Content/image_UsuarioIndex/icono_reporte360_VERDE.png" />
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#myModal2" data-backdrop="True" style="font-size:12px; width:165px; border-radius:25px;margin-left:5px;">
                                        Ver Reporte 360°
                                    </button>

                                </div>
                                @*Modal*@
                                <div class="modal fade" id="myModal2" role="dialog">
                                    <div class="modal-dialog modal-lg">

                                        <!-- Modal content-->
                                        <div class="modal-content" style="background-color:black;">
                                            <div class="modal-header">
                                                <p style="color:white">
                                                    Este REPORTE 360º es posible adquirirlo de dos formas:
                                                </p>
                                                <button type="button" class="close" style="color:white" data-dismiss="modal">&times;</button>

                                            </div>
                                            <div class="modal-body">
                                                <div class="row m-1" style="background-color:white; border-radius: 5px;">
                                                    <div class="col-5 p-1">
                                                        <div class="col-12">
                                                            <img style="height:80%; width:80%" src="~/Content/image_estadistica/logo_reporte360.png" /> <br> <br>
                                                        </div>
                                                        <div class="col-12 ">
                                                            <div class="row">
                                                                <div class="col-5" style="border-right:0.5px solid #b5a7a7; text-align:right ">
                                                                    <span> USD </span><span style="color:red; font-size:22px;">200</span>
                                                                    pago único
                                                                </div>
                                                                <div class="col-7">
                                                                    <form action="https://dataintelligence.store/products/feminicidios-de-mujeres-y-ninas-2016-2019-el-salvador">
                                                                        <button class="sub btn btn-danger btn-sm mt-2" style="border-radius:20px; font-size:12px;">
                                                                            Adquirir
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-7 p-1">
                                                        <p style="color:red;"> Con un único pago, puede interactuar  en los filtros activos durante todo 1 año.</p>

                                                        <p class="font-weight-bold" style="color:black;"> Incluye:</p>
                                                        <ul style="color:black;">
                                                            <li>Descargas en PDF, PNG y Excel.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row m-1" style="background-color:white; border-radius:5px; margin-top:2%;">
                                                    <div class="col-5 p-1">
                                                        <div class="col-12">
                                                            <img style="height:80%; width:80%" src="~/Content/image_estadistica/imagenpromocion_2.png" /><br><br><br><br><br><br>
                                                        </div>
                                                        <div class="col-12 ">
                                                            <div class="row">
                                                                <div class="col-5" style="border-right:0.5px solid #b5a7a7; text-align:right ">
                                                                    <span> USD </span><span style="color:red; font-size:22px;">35</span>
                                                                    mensuales
                                                                </div>
                                                                <div class="col-7">
                                                                    <form action="https://dataintelligence.store/products/feminicidios-de-mujeres-y-ninas-2016-2019-el-salvador">
                                                                        <button class="sub btn btn-danger btn-sm mt-2" style="border-radius:20px; font-size:12px;">
                                                                            Adquirir
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-7 p-1">
                                                        <p style="color:red;">
                                                            Cuenta suscripción anual con acceso  la colección completa de los temas de un sector.
                                                        </p>
                                                        <p class="font-weight-bold" style="color:black;"> Incluye:</p>
                                                        <ul style="color:black;">
                                                            <li>Acceso a miles de Gráficos, Mapas interactivos y diagramas.</li>
                                                            <li>Acceso a todos los Informes Interactivos.</li>
                                                            <li>Acceso a Reportes 360º con 30% de descuento.</li>
                                                            <li>Descargas en PDF, PNG y Excel.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer text-center">
                                                <img class="mx-0 pull-left" style="width:35%; height:35%;" src="~/Content/img/blanco-trans - copia.png" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>


    <div id="tresRelacionados">

    </div>
    <!--seccion de suscripciones-->
    <div class="container-fluid text-center" style=" background-image: url('/Content/img/Promociones/imagenpromocion_fondo.jpg');padding-bottom:40px; background-size:cover;">
        <div class="row" style="padding-left:20%; padding-right:20%">
            <div class="col-12">
                <h3 style="color:#fff; padding:40px 0px;">
                    ¡Imagina toda la información pública
                    de un país en una sola plataforma!
                </h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-left:20%; padding-right:20%">
            <div class="col-12">
                <img class="img-fluid" src="~/Content/image_estadistica/imagenpromocion_1.1.png" alt="100%x280" />
            </div>
        </div>
    </div>
    <div class="container-fluid text-center" style=" background-color: black;padding-bottom:40px; background-size:cover;">
        <div class="row" style="padding-left:20%; padding-right:20%">
            <div class="col-12">
                <h3 style="color:#fff; padding:40px 0px; margin-bottom:10px;">
                    ¡Y para los que necesitan más información!
                </h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-4" style="padding-left:35%; padding-right:35%">
            <div class="col-12">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_2.png" />
            </div>
        </div>
        <div class="row" style="padding-left:20%; padding-right:20%">
            <div class="col-12">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_3.png" />
            </div>
        </div>
        <div class="row mb-1" style="padding-left:20%; padding-right:20%">
            <div class="col-12">
                <h3 style="color:#fff; padding:40px 0px;">
                    La suscripción anual Cuenta Profesional fue diseñada especialmente para potenciar las investigaciones, proyectos o planificaciones de quienes requieren una mayor cantidad de información.

                </h3>
            </div>
        </div>
        <div class="row mb-4" style="padding-left:20%; padding-right:20%">
            <h3 style="color:#009fcf">
                INCLUYE
            </h3>
            <div class="col-md-3 col-10">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_3_1.png" />
            </div>
            <div class="col-md-3 col-10">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_3_2.png" />
            </div>
            <div class="col-md-3 col-10">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_3_3.png" />
            </div>
            <div class="col-md-3 col-10">
                <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_3_4.png" />
            </div>
        </div>
        <div class="row" style="padding-left:20%; padding-right:20%">
            <div class="col-6" style="border-right:0.5px solid #b5a7a7;font-size:9px;text-align:right;">
                <span style="color:white; font-size:18px;">USD</span>
                <span style="color:red; font-size:22px;">$35</span>
                <br />
                <span style="color:white; font-size:18px;"> mensuales</span>
            </div>
            <div class="col-md-6" style="text-align:left;">
                <a href="https://dataintelligence.store/products/avance-del-covid-19-gt" target="_blank" class="btn btn-danger btn-sm mt-2 text-left enlace" style="border-radius:20px; font-size:16px;">
                    Adquirir
                </a>
            </div>
        </div>
    </div>


    <div id="carruselRelacionados">
    </div>



    <!--Script de ocultar texto-->
    <script src="~/Scripts/OcultarBoton.js"></script>
    <script src="~/Scripts/Index2.js"></script>
    <script>
        tresRelacionados(@ViewBag.Elemento.CATEGORIA_id);
        carruselRelacionados(@ViewBag.Elemento.CATEGORIA.PRODUCTO_id);
    </script>
    @*<h1>@ViewBag.Elemento.CATEGORIA_id</h1>*@
    
</body>
</html>
