
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*Titulo de la pagina*@
    <title>Resultados de Busqueda</title>
    @*Normalize para adaptarse a todos los browsers*@
    <link href="~/Content/normalize.min.css" rel="stylesheet" />
    @*icono de fontawesome menu principal *@
    <script src="https://kit.fontawesome.com/2f08016506.js" crossorigin="anonymous"></script>
    @*icono de fontawesome pagina resultados de busqueda principal *@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    @*bootstrap*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    @*pagination*@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    @*Hola de estilos de esta vista solamente*@
    <link href="~/Content/StylePagBusqueda.css" rel="stylesheet" />
    @*SELECTOR DE FECHAS*@
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    @*FIN SELECTOR DE FECHAS*@
    @* filtro del buscador*@


</head>
<body>
    @*Menu principal*@
    <header style="border:none;">
        <div class="ruby-menu-demo-header row" style="background-color:#000; font-family: 'MYRIADPRO-REGULAR';">
            <!-- COMIENZO: MEGAMENU HORIZONTAL -->
            <div class="ruby-wrapper" style="background-color:#000; font-family:">
                <button class="c-hamburger c-hamburger--htx visible-xs">
                    <span>toggle menu</span>
                </button>
                <ul class="ruby-menu">
                    <li class="ruby-active-menu-item"><a href="#">Home</a></li>
                    <li>
                        <a href="#">Classic</a>
                        <ul class="">
                            <li><a href="#">2nd Level #1</a></li>
                            <li><a href="#">2nd Level #2</a></li>
                            <li>
                                <a href="#">2nd Level #3</a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-university" aria-hidden="true"></i>3rd Level #1</a>
                                        <ul>
                                            <li><a href="#">4th Level #1</a></li>
                                            <li><a href="#">4th Level #2</a></li>
                                        </ul>
                                        <span class="ruby-dropdown-toggle"></span>
                                    </li>
                                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>3rd Level #2</a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i>3rd Level #3</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i>4th Level #1</a></li>
                                            <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i>4th Level #2</a></li>
                                            <li><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i>4th Level #3</a></li>
                                        </ul>
                                        <span class="ruby-dropdown-toggle"></span>
                                    </li>
                                </ul>
                                <span class="ruby-dropdown-toggle"></span>
                            </li>
                            <li class="ruby-open-to-left">
                                <a href="#">2nd Level #4</a>
                                <ul>
                                    <li><a href="#">3rd Level #1</a></li>
                                    <li><a href="#">3rd Level #2</a></li>
                                    <li><a href="#">3rd Level #3</a></li>
                                </ul>
                                <span class="ruby-dropdown-toggle"></span>
                            </li>
                            <li><a href="#">2nd Level #5</a></li>
                        </ul>
                        <span class="ruby-dropdown-toggle"></span>
                    </li>

                    <li class="ruby-menu-mega">
                        <a href="#">Mega</a>
                        <div class="ruby-grid ruby-grid-lined">
                            <div class="ruby-row">
                                <div class="ruby-col-2">
                                    <h3 class="ruby-list-heading">Normal List</h3>
                                    <ul>
                                        <li><a href="#">Menu Item #1</a></li>
                                        <li><a href="#">Menu Item #2</a></li>
                                        <li><a href="#">Menu Item #3</a></li>
                                        <li><a href="#">Menu Item #4</a></li>
                                        <li><a href="#">Menu Item #5</a></li>
                                    </ul>
                                </div>
                                <div class="ruby-col-2 hidden-md">
                                    <h3 class="ruby-list-heading">List with Icons</h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-motorcycle" aria-hidden="true"></i>Menu Item #1</a></li>
                                        <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i>Menu Item #2</a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Menu Item #3</a></li>
                                        <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i>Menu Item #4</a></li>
                                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Menu Item #5</a></li>
                                    </ul>
                                </div>
                                <div class="ruby-col-3 ruby-col-4-md">
                                    <h3 class="ruby-list-heading">List with Images + Desc</h3>
                                    <ul class="ruby-list-with-images">
                                        <li><a href="#"><img src="img/c-1.png">Menu Item #1</a><span class="ruby-list-desc">Lorem ipsum dolor sit</span></li>
                                        <li><a href="#"><img src="img/c-2.png">Menu Item #2</a><span class="ruby-list-desc">Lorem ipsum dolor sit</span></li>
                                        <li><a href="#"><img src="img/c-3.png">Menu Item #3</a><span class="ruby-list-desc">Lorem ipsum dolor sit</span></li>
                                    </ul>
                                </div>
                                <div class="ruby-col-5">
                                    <h3 class="ruby-list-heading">Multiple Lists with Icons</h3>
                                    <div class="ruby-row">
                                        <div class="ruby-col-4 ruby-col-6-md">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-signal" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-send" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Menu Item</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-4 ruby-col-6-md" style="padding-left:10px">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-rocket" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-warning" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-upload" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-umbrella" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-trophy" aria-hidden="true"></i>Menu Item</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-4 hidden-md" style="padding-left:15px">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-map-o" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-image" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-legal" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-paint-brush" aria-hidden="true"></i>Menu Item</a></li>
                                                <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>Menu Item</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="ruby-dropdown-toggle"></span>
                    </li>

                    <li class="ruby-menu-mega-blog">
                        <a href="#">Blog</a>
                        <div style="height: 269.359px;" class="">
                            <ul class="ruby-menu-mega-blog-nav">

                                <li class="ruby-active-menu-item">
                                    <a href="#">Blog-4-Column</a>
                                    <div class="ruby-grid ruby-grid-lined" style="height: 264.359px;">
                                        <div class="ruby-row">
                                            <div class="ruby-col-3">
                                                <img src="http://brienlabs.com/ruby-mega-menu/img/travel-1.jpg">
                                                <div class="ruby-c-inline">
                                                    <span class="ruby-c-category"><a href="#">News / Travel</a></span>
                                                    <span class="ruby-c-date"><a href="#">05/01/2017</a></span>
                                                </div>
                                                <span class="ruby-c-title ruby-margin-10"><a href="#">Vacation Proved To Increase Productivity</a></span>
                                                <span class="ruby-c-content">The primary research for the study was based on an online survey that was...</span>
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="http://brienlabs.com/ruby-mega-menu/img/health-3.jpg">
                                                <div class="ruby-c-inline">
                                                    <span class="ruby-c-category"><a href="#">News / Health</a></span>
                                                    <span class="ruby-c-date"><a href="#">05/01/2017</a></span>
                                                </div>
                                                <span class="ruby-c-title ruby-margin-10"><a href="#">Stereotype Idioms By The Smokers</a></span>
                                                <span class="ruby-c-content">If you have ever said some of below idioms you are for sure a smoking...</span>
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="http://brienlabs.com/ruby-mega-menu/img/culture-2.jpg">
                                                <div class="ruby-c-inline">
                                                    <span class="ruby-c-category"><a href="#">News / Culture</a></span>
                                                    <span class="ruby-c-date"><a href="#">05/01/2017</a></span>
                                                </div>
                                                <span class="ruby-c-title ruby-margin-10"><a href="#">10 Facts About The Philosophers</a></span>
                                                <span class="ruby-c-content">When we think “philosopher,” a certain image comes to mind—most often a wise...</span>
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="http://brienlabs.com/ruby-mega-menu/img/health-2.jpg">
                                                <div class="ruby-c-inline">
                                                    <span class="ruby-c-category"><a href="#">News / Tech</a></span>
                                                    <span class="ruby-c-date"><a href="#">05/01/2017</a></span>
                                                </div>
                                                <span class="ruby-c-title ruby-margin-10"><a href="#">In 2016, 10 People Died While Taking Selfie</a></span>
                                                <span class="ruby-c-content">This is a list of serious injuries and deaths in which the victim or a member of...</span>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="ruby-dropdown-toggle"></span>
                                </li>

                                <li class="hidden-md">
                                    <a href="#">Blog-3-Column</a>
                                    <div class="ruby-grid ruby-grid-lined" style="height: 264.359px;">
                                        <div class="ruby-row">
                                            <div class="ruby-col-4">
                                                <div class="ruby-col-5">
                                                    <img src="http://brienlabs.com/ruby-mega-menu/img/blog-1.jpg">
                                                </div>
                                                <div class="ruby-col-7">
                                                    <span class="ruby-c-title"><a href="#">An Erupting Volcano And A Meteor</a></span>
                                                    <span class="ruby-c-category"><a href="#">News / Science</a></span>
                                                    <span class="ruby-c-date"><a href="#">05/01/2017</a></span>
                                                </div>
                                            </div>
                                            <div class="ruby-col-4">
                                                <div class="ruby-col-5">
                                                    <img src="http://brienlabs.com/ruby-mega-menu/img/blog-2.jpg">
                                                </div>
                                                <div class="ruby-col-7">
                                                    <span class="ruby-c-title"><a href="#">Bottle Labels: Short Stories To Read</a></span>
                                                    <span class="ruby-c-category"><a href="#">News / Culture</a></span>
                                                    <span class="ruby-c-date"><a href="#">05/01/2017</a></span>
                                                </div>
                                            </div>
                                            <div class="ruby-col-4">
                                                <div class="ruby-col-5">
                                                    <img src="http://brienlabs.com/ruby-mega-menu/img/blog-3.jpg">
                                                </div>
                                                <div class="ruby-col-7">
                                                    <span class="ruby-c-title"><a href="#">10+ Stunning Animal Portraits By Polyushko</a></span>
                                                    <span class="ruby-c-category"><a href="#">News / Photography</a></span>
                                                    <span class="ruby-c-date"><a href="#">05/01/2017</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ruby-row">
                                            <div class="ruby-col-4">
                                                <div class="ruby-col-5">
                                                    <img src="http://brienlabs.com/ruby-mega-menu/img/blog-8.jpg">
                                                </div>
                                                <div class="ruby-col-7">
                                                    <span class="ruby-c-title"><a href="#">Photographing The Beauty Of Fall</a></span>
                                                    <span class="ruby-c-category"><a href="#">News / Photography</a></span>
                                                    <span class="ruby-c-date"><a href="#">05/01/2017</a></span>
                                                </div>
                                            </div>
                                            <div class="ruby-col-4">
                                                <div class="ruby-col-5">
                                                    <img src="http://brienlabs.com/ruby-mega-menu/img/blog-9.jpg">
                                                </div>
                                                <div class="ruby-col-7">
                                                    <span class="ruby-c-title"><a href="#">10 Freaking Facts About Being A Pilot</a></span>
                                                    <span class="ruby-c-category"><a href="#">News / Life</a></span>
                                                    <span class="ruby-c-date"><a href="#">05/01/2017</a></span>
                                                </div>
                                            </div>
                                            <div class="ruby-col-4">
                                                <div class="ruby-col-5">
                                                    <img src="http://brienlabs.com/ruby-mega-menu/img/blog-10.jpg">
                                                </div>
                                                <div class="ruby-col-7">
                                                    <span class="ruby-c-title"><a href="#">Health Benefits Of A Glass Of Whiskey</a></span>
                                                    <span class="ruby-c-category"><a href="#">News / Health</a></span>
                                                    <span class="ruby-c-date"><a href="#">05/01/2017</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="ruby-dropdown-toggle"></span>
                                </li>

                                <li>
                                    <a href="#">Blog-2-Column</a>
                                    <div class="ruby-grid ruby-grid-lined" style="height: 264.359px;">
                                        <div class="ruby-row">
                                            <div class="ruby-col-6">
                                                <div class="ruby-col-4">
                                                    <img src="http://brienlabs.com/ruby-mega-menu/img/blog-4.jpg">
                                                </div>
                                                <div class="ruby-col-8">
                                                    <span class="ruby-c-title"><a href="#">Nexo Created New Airless Bike Tires That Will Never Get Flat</a></span>
                                                    <div class="ruby-c-inline">
                                                        <span class="ruby-c-category"><a href="#"><i class="fa fa-tag" aria-hidden="true"></i> News / Tech</a></span>
                                                        <span class="ruby-c-date"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 05/01/2017</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ruby-col-6">
                                                <div class="ruby-col-4">
                                                    <img src="http://brienlabs.com/ruby-mega-menu/img/blog-5.jpg">
                                                </div>
                                                <div class="ruby-col-8">
                                                    <span class="ruby-c-title"><a href="#">Illustrator Creates Stunning Dresses From Everyday Objects</a></span>
                                                    <div class="ruby-c-inline">
                                                        <span class="ruby-c-category"><a href="#"><i class="fa fa-tag" aria-hidden="true"></i> News / Tech</a></span>
                                                        <span class="ruby-c-date"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 05/01/2017</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ruby-row">
                                            <div class="ruby-col-6">
                                                <div class="ruby-col-4">
                                                    <img src="http://brienlabs.com/ruby-mega-menu/img/blog-6.jpg">
                                                </div>
                                                <div class="ruby-col-8">
                                                    <span class="ruby-c-title"><a href="#">Italian Pastry Chef Creates Miniature Worlds With Desserts</a></span>
                                                    <div class="ruby-c-inline">
                                                        <span class="ruby-c-category"><a href="#"><i class="fa fa-tag" aria-hidden="true"></i> News / Tech</a></span>
                                                        <span class="ruby-c-date"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 05/01/2017</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ruby-col-6">
                                                <div class="ruby-col-4">
                                                    <img src="http://brienlabs.com/ruby-mega-menu/img/blog-7.jpg">
                                                </div>
                                                <div class="ruby-col-8">
                                                    <span class="ruby-c-title"><a href="#">Dogs Brought To The Lavender Gardens To Capture Their Joy</a></span>
                                                    <div class="ruby-c-inline">
                                                        <span class="ruby-c-category"><a href="#"><i class="fa fa-tag" aria-hidden="true"></i> News / Tech</a></span>
                                                        <span class="ruby-c-date"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 05/01/2017</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="ruby-dropdown-toggle"></span>
                                </li>

                                <li>
                                    <a href="#">Blog-Article-List</a>
                                    <div class="ruby-grid ruby-grid-lined" style="height: 264.359px;">
                                        <div class="ruby-row">
                                            <div class="ruby-col-6">
                                                <span class="ruby-c-title" style="margin-bottom:15px">POPULAR THREADS</span>
                                                <div class="ruby-row">
                                                    <div class="ruby-col-1"><img src="img/blog-1.jpg"></div>
                                                    <div class="ruby-col-11"><span class="ruby-c-title"><a href="#">An Erupting Volcano And A Meteor Has Created A Fantastic View</a></span></div>
                                                </div>
                                                <div class="ruby-row">
                                                    <div class="ruby-col-1"><img src="img/blog-2.jpg"></div>
                                                    <div class="ruby-col-11"><span class="ruby-c-title"><a href="#">Bottle Labels With Short Stories To Be Read Is The New Marketing Era</a></span></div>
                                                </div>
                                                <div class="ruby-row">
                                                    <div class="ruby-col-1"><img src="img/blog-3.jpg"></div>
                                                    <div class="ruby-col-11"><span class="ruby-c-title"><a href="#">10+ Stunning Animal Portraits That Has Been Filmed By Polyushko</a></span></div>
                                                </div>
                                                <div class="ruby-row">
                                                    <div class="ruby-col-1"><img src="img/blog-10.jpg"></div>
                                                    <div class="ruby-col-11"><span class="ruby-c-title"><a href="#">10 Freaking Facts About Being An airline pilot</a></span></div>
                                                </div>
                                            </div>
                                            <div class="ruby-col-6">
                                                <span class="ruby-c-title" style="margin-bottom:15px">MOST COMMENTED</span>
                                                <div class="ruby-row">
                                                    <div class="ruby-col-1"><img src="img/blog-1.jpg"></div>
                                                    <div class="ruby-col-11"><span class="ruby-c-title"><a href="#">An Erupting Volcano And A Meteor Has Created A Fantastic View</a></span></div>
                                                </div>
                                                <div class="ruby-row">
                                                    <div class="ruby-col-1"><img src="img/blog-2.jpg"></div>
                                                    <div class="ruby-col-11"><span class="ruby-c-title"><a href="#">Bottle Labels With Short Stories To Be Read Is The New Marketing Era</a></span></div>
                                                </div>
                                                <div class="ruby-row">
                                                    <div class="ruby-col-1"><img src="img/blog-3.jpg"></div>
                                                    <div class="ruby-col-11"><span class="ruby-c-title"><a href="#">10+ Stunning Animal Portraits That Has Been Filmed By Polyushko</a></span></div>
                                                </div>
                                                <div class="ruby-row">
                                                    <div class="ruby-col-1"><img src="img/blog-10.jpg"></div>
                                                    <div class="ruby-col-11"><span class="ruby-c-title"><a href="#">10 Freaking Facts About Being An airline pilot</a></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="ruby-dropdown-toggle"></span>
                                </li>
                            </ul>
                        </div>
                        <span class="ruby-dropdown-toggle"></span>
                    </li>

                    <li class="ruby-menu-mega-shop">
                        <a href="#">Shop</a>
                        <div style="height: 263px;" class="">
                            <ul>
                                <li class="ruby-active-menu-item">
                                    <a href="#">Clothing</a>
                                    <div class="ruby-grid ruby-grid-lined">
                                        <div class="ruby-row">
                                            <div class="ruby-col-2">
                                                <h3 class="ruby-list-heading">TOPS</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                    <li><a href="#">Menu Item #5</a></li>
                                                </ul>
                                            </div>
                                            <div class="ruby-col-2">
                                                <img src="img/outerwear-2.jpg">
                                            </div>
                                            <div class="ruby-col-2">
                                                <h3 class="ruby-list-heading">BOTTOM</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                    <li><a href="#">Menu Item #5</a></li>
                                                </ul>
                                            </div>
                                            <div class="ruby-col-2">
                                                <h3 class="ruby-list-heading">NIGHTWEAR</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                    <li><a href="#">Menu Item #5</a></li>
                                                </ul>
                                            </div>
                                            <div class="ruby-col-2">
                                                <img src="img/outerwear-3.jpg">
                                            </div>
                                            <div class="ruby-col-2">
                                                <h3 class="ruby-list-heading">SWIMWEAR</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                    <li><a href="#">Menu Item #5</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="ruby-dropdown-toggle"></span>
                                </li>
                                <li>
                                    <a href="#">Outerwear</a>
                                    <div class="ruby-grid ruby-grid-lined">
                                        <div class="ruby-row">
                                            <div class="ruby-col-3">
                                                <img src="img/outerwear.jpg">
                                            </div>
                                            <div class="ruby-col-3">
                                                <h3 class="ruby-list-heading">COATS</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                    <li><a href="#">Menu Item #5</a></li>
                                                    <li><a href="#">Menu Item #6</a></li>
                                                    <li><a href="#">Menu Item #7</a></li>
                                                </ul>
                                            </div>
                                            <div class="ruby-col-3">
                                                <h3 class="ruby-list-heading">JACKETS</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                    <li><a href="#">Menu Item #5</a></li>
                                                    <li><a href="#">Menu Item #6</a></li>
                                                    <li><a href="#">Menu Item #7</a></li>
                                                </ul>
                                            </div>
                                            <div class="ruby-col-3">
                                                <h3 class="ruby-list-heading">LEATHER</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                    <li><a href="#">Menu Item #5</a></li>
                                                    <li><a href="#">Menu Item #6</a></li>
                                                    <li><a href="#">Menu Item #7</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="ruby-dropdown-toggle"></span>
                                </li>
                                <li>
                                    <a href="#">Bags &amp; Shoes</a>
                                    <div class="ruby-grid ruby-grid-lined">
                                        <div class="ruby-row">
                                            <div class="ruby-col-3">
                                                <img src="img/bags.jpg">
                                            </div>
                                            <div class="ruby-col-3">
                                                <h3 class="ruby-list-heading">BAGS</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                    <li><a href="#">Menu Item #5</a></li>
                                                </ul>
                                            </div>
                                            <div class="ruby-col-3">
                                                <h3 class="ruby-list-heading">SHOES</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                    <li><a href="#">Menu Item #5</a></li>
                                                </ul>
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="img/shoes.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <span class="ruby-dropdown-toggle"></span>
                                </li>
                                <li>
                                    <a href="#">Accessories</a>
                                    <div class="ruby-grid ruby-grid-lined">
                                        <div class="ruby-row">
                                            <div class="ruby-col-3">
                                                <img src="img/eyewear.jpg">
                                                <h3 class="ruby-list-heading" style="margin-top: 16px;">EYEWEAR</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                </ul>
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="img/jewellery.jpg">
                                                <h3 class="ruby-list-heading" style="margin-top: 16px;">JEWELLERY</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                </ul>
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="img/watches.jpg">
                                                <h3 class="ruby-list-heading" style="margin-top: 16px;">WATCHES</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                </ul>
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="img/textile.jpg">
                                                <h3 class="ruby-list-heading" style="margin-top: 16px;">OTHERS</h3>
                                                <ul>
                                                    <li><a href="#">Menu Item #1</a></li>
                                                    <li><a href="#">Menu Item #2</a></li>
                                                    <li><a href="#">Menu Item #3</a></li>
                                                    <li><a href="#">Menu Item #4</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="ruby-dropdown-toggle"></span>
                                </li>
                                <li>
                                    <a href="#">Collections</a>
                                    <div class="ruby-grid ruby-grid-lined">
                                        <div class="ruby-row">
                                            <div class="ruby-col-3">
                                                <img src="img/collection-accessori.jpg">
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="img/collection-bridal.jpg">
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="img/collection-cube.jpg">
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="img/collection-elegante.jpg">
                                            </div>
                                        </div>
                                        <div class="ruby-row">
                                            <div class="ruby-col-3">
                                                <img src="img/collection-maxmara.jpg">
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="img/collection-sfilata.jpg">
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="img/collection-shine.jpg">
                                            </div>
                                            <div class="ruby-col-3">
                                                <img src="img/collection-s-maxmara.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <span class="ruby-dropdown-toggle"></span>
                                </li>
                            </ul>
                        </div>
                        <span class="ruby-dropdown-toggle"></span>
                    </li>

                    <li class="ruby-menu-right">
                        <a href="#">Right</a>
                        <ul>
                            <li><a href="#">2nd Level #1</a></li>
                            <li><a href="#">2nd Level #2</a></li>
                            <li class="ruby-open-to-left">
                                <a href="#">2nd Level #3</a>
                                <ul>
                                    <li class="ruby-open-to-left">
                                        <a href="#"><i class="fa fa-university" aria-hidden="true"></i>3rd Level #1</a>
                                        <ul>
                                            <li><a href="#">4th Level #1</a></li>
                                            <li><a href="#">4th Level #2</a></li>
                                        </ul>
                                        <span class="ruby-dropdown-toggle"></span>
                                    </li>
                                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>3rd Level #2</a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i>3rd Level #3</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-file" aria-hidden="true"></i>3rd Level #4</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i>4th Level #1</a></li>
                                            <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i>4th Level #2</a></li>
                                            <li><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i>4th Level #3</a></li>
                                        </ul>
                                        <span class="ruby-dropdown-toggle"></span>
                                    </li>
                                </ul>
                                <span class="ruby-dropdown-toggle"></span>
                            </li>
                            <li class="ruby-open-to-left">
                                <a href="#">2nd Level #4</a>
                                <ul>
                                    <li><a href="#">3rd Level #1</a></li>
                                    <li><a href="#">3rd Level #2</a></li>
                                    <li><a href="#">3rd Level #3</a></li>
                                </ul>
                                <span class="ruby-dropdown-toggle"></span>
                            </li>
                            <li><a href="#">2nd Level #5</a></li>
                        </ul>
                        <span class="ruby-dropdown-toggle"></span>
                    </li>

                    <li class="ruby-menu-right ruby-menu-social"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>/rubymenu</span></a></li>

                    <li class="ruby-menu-right ruby-menu-social"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>/rubymenu</span></a></li>

                    <li class="ruby-menu-right ruby-menu-social ruby-menu-search"><a href="#"><i class="fa fa-search" aria-hidden="true"></i><span><input type="text" name="search" placeholder="Search.."></span></a></li>

                </ul>
            </div>
            <!-- FIN: MEGAMENU HORIZONTAL -->
        </div>
    </header>

    <div class="container mt-5">
        <div class="row">
            <!-- Comienzo de rsultados de Busqueda -->
            <div class="col-md-12">
                <div class="grid search">
                    <div class="grid-body">
                        <div class="row">
                            <!-- Comienzo filtros -->
                            <div class="tags col-md-3">
                                <h2 class="grid-title"><i class="fa fa-filter"></i> Filtros</h2>
                                <hr>
                                @*Este script es para hacer el filtro de la tabla*@
                                <script>
                                    $(document).ready(function () {
                                        $(".name").on("click", function () {
                                            name_list = []
                                            $("#myTable tr").hide()
                                            var flag = 1
                                            $("input:checkbox[name=name]:checked").each(function () {
                                                flag = 0;
                                                var value = $(this).val().toLowerCase();
                                                $("#myTable tr").filter(function () {
                                                    if ($(this).text().toLowerCase().indexOf(value) > -1)
                                                        $(this).show()
                                                });
                                            });
                                            if (flag == 1)
                                                $("#myTable tr").show()

                                            


                                        });
                                    });
                                </script>
                                @*Este script es para hacer el filtro de la tabla*@
                                <!-- Comienzo filtros por Pais-->
                                <h4>Pais:</h4>
                                @foreach (var item in ViewBag.Paises)
                                {
                                    <div>
                                        <label><input type="checkbox" class="name" name="name" value="@item"> @item</label>
                                    </div>
                                }

                                <!-- FINAL DE FILTROS POR CATEGORY -->

                                <div class="padding"></div>

                                <!-- COMIENZO DE FILTROS POR ANIO -->
                                <h4>Temporalidad:</h4>

                                @foreach (var item2 in ViewBag.Temporalidad)
                                {
                                    <div class="checkbox">
                                        <label><input type="checkbox" class="name icheck" name="name" value="@item2"> @item2</label>
                                    </div>
                                }

                                <!-- FINAL FILTROS POR ANIO -->
                                <div class="padding"></div>

                                <!-- COMIENZO FILTROS POR INDUSTRIA -->
                                <h4>Industria:</h4>
                                @foreach (var item5 in ViewBag.Industria)
                                {
                                    <div class="checkbox">
                                        <label><input type="checkbox" class="name icheck" name="name" value="@item5"> @item5</label>
                                    </div>
                                }

                                <!-- FINAL DE FILTRO POR INDUSTRIA -->
                                <div class="padding"></div>
                                <!-- COMIENZO FILTROS POR SECTOR -->
                                <h4>Sector:</h4>
                                @foreach (var item4 in ViewBag.Sector)
                                {
                                    <div class="checkbox">
                                        <label><input type="checkbox" class="name icheck" name="name" value="@item4"> @item4</label>
                                    </div>
                                }

                                <!-- FINAL FILTROS POR SECTOR -->
                                <div class="padding"></div>
                                <!-- COMIENZO FILTROS POR PRODUCTO -->
                                <h4>Producto:</h4>
                                @foreach (var item2 in ViewBag.Producto)
                                {
                                    <div class="checkbox">
                                        <label><input type="checkbox" class="name icheck" name="name" value="@item2"> @item2</label>
                                    </div>
                                }

                                <!-- FINAL FILTROS POR PRODUCTO -->
                                <div class="padding"></div>
                                <!-- COMIENZO FILTROS POR CATEGORIA -->
                                <h4>Categoria:</h4>
                                @foreach (var item6 in ViewBag.Categoria)
                                {
                                    <div class="checkbox">
                                        <label><input type="checkbox" class="name icheck" name="name" value="@item6"> @item6</label>
                                    </div>
                                }

                                <!-- FINAL FILTROS POR CATEGORIA -->
                                <div class="padding"></div>

                                <!-- FILTROS POR FECHA -->
                                <h4>Por fechas:</h4>

                                <div class="container">
                                    Start Date: <input id="startDate" width="220" />
                                    End Date: <input id="endDate" width="220" />
                                </div>
                                <script>
                                    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
                                    $('#startDate').datepicker({
                                        uiLibrary: 'bootstrap4',
                                        iconsLibrary: 'fontawesome',
                                        minDate: today,
                                        maxDate: function () {
                                            return $('#endDate').val();
                                        }
                                    });
                                    $('#endDate').datepicker({
                                        uiLibrary: 'bootstrap4',
                                        iconsLibrary: 'fontawesome',
                                        minDate: function () {
                                            return $('#startDate').val();
                                        }
                                    });
                                </script>
                                <!-- FINAL FILTROS POR FECHA -->

                                <div class="padding"></div>

                                <!-- COMIENZO FILTRO POR PRECIOS -->
                                <h4>By price:</h4>
                                Between <div id="price1">$300</div> to <div id="price2">$800</div>
                                <div class="slider-primary">
                                    <div class="slider slider-horizontal" style="width: 152px;"><div class="slider-track"><div class="slider-selection" style="left: 30%; width: 50%;"></div><div class="slider-handle round" style="left: 30%;"></div><div class="slider-handle round" style="left: 80%;"></div></div><div class="tooltip top hide" style="top: -30px; left: 50.1px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">300 : 800</div></div><input type="text" class="slider" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="[300,800]" data-slider-tooltip="hide"></div>
                                </div>
                                <!-- FINAL FILTROS POR PRECIOS -->
                            </div>
                            <!-- FINAL FILTROS -->
                            <!-- COMIENZO RESULTADOS -->
                            <div class="col-md-9">
                                <h2><i class="fa fa-file-o"></i> Resultados de busqueda</h2>
                                <hr>

                                <div class="padding"></div>

                                <div class="row">
                                    <!-- COMIENZO ORDENAR RESULTADOS -->
                                    <div class="col-sm-6">

                                    </div>
                                    <!-- FINAL ORDENAR RESULTADOS -->

                                    <div class="col-md-6 text-right">

                                    </div>
                                </div>

                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                <script>
                                    // Write on keyup event of keyword input element
                                    $(document).ready(function () {
                                        $("#search").keyup(function () {
                                            _this = this;
                                            // Show only matching TR, hide rest of them
                                            $.each($("#mytable tbody tr"), function () {
                                                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                                                    $(this).hide();
                                                else
                                                    $(this).show();
                                            });
                                        });
                                    });
                                </script>

                                <!-- COMIENZO TABLA RESULTADOS -->
                                <div class="table-responsive display ">

                                    <h4>Seleccione la cantidad de filas</h4>
                                    <div class="col-12 form-group d-flex">
                                        <select name="state" id="maxRows">
                                            <option value="5000">Filas</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="75">75</option>
                                            <option value="100">100</option>
                                        </select>
                                        <div class="col-4">

                                        </div>
                                        <div class="col-4 input-group mb-2 text-right" style="width:100%;">
                                            <input type="search" id="search" class="form-control rounded" placeholder="" aria-label="Search"
                                                   aria-describedby="search-addon" />
                                            <button type="button" class="btn btn-outline-primary">Buscar</button>
                                        </div>
                                    </div>

                                    <table id="mytable" class="table table-bordered table-striped" style="width:100%">

                                        <thead id="stud_body ">
                                            <tr>
                                                <th>NOMBRE</th>
                                                <th>TEMPORALIDAD</th>
                                                <th>PAIS</th>
                                                <th>DETALLE</th>
                                                <th>PARAMETROS</th>
                                                <th>NOMBRE ARCHIVO</th>
                                                <th>INDUSTRIA</th>
                                                <th>SECTOR</th>
                                                <th>PRODUCTO</th>
                                                <th>CATEGORIA</th>

                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                            @foreach (var item in ViewBag.Resultado)
                                            {
                                                <tr>
                                                    <td class="arts">@item.nombre</td>
                                                    <td class="computers">@item.TEMPORALIDAD.nombre</td>
                                                    <td class="health">@item.TERRITORIO.nombre</td>
                                                    <td class="video-games">@item.DETALLE.nombre</td>
                                                    <td>@item.PARAMETRO.nombre</td>
                                                    <td>@item.url</td>
                                                    <td>@item.CATEGORIA.PRODUCTO.SECTOR.INDUSTRIA.nombre</td>
                                                    <td>@item.CATEGORIA.PRODUCTO.SECTOR.nombre</td>
                                                    <td>@item.CATEGORIA.PRODUCTO.nombre</td>
                                                    <td>@item.CATEGORIA.nombre</td>

                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                    <!--script1 para la paginacion-->
                                    <script type="text/javascript">
                                        Paginador = function (divPaginador, tabla, tamPagina) {
                                            this.miDiv = divPaginador; //un DIV donde irán controles de paginación
                                            this.tabla = tabla;           //la tabla a paginar
                                            this.tamPagina = tamPagina; //el tamaño de la página (filas por página)
                                            this.pagActual = 1;         //asumiendo que se parte en página 1
                                            this.paginas = Math.floor((this.tabla.rows.length - 1) / this.tamPagina); //¿?

                                            this.SetPagina = function (num) {
                                                if (num < 0 || num > this.paginas)
                                                    return;

                                                this.pagActual = num;
                                                var min = 1 + (this.pagActual - 1) * this.tamPagina;
                                                var max = min + this.tamPagina - 1;

                                                for (var i = 1; i < this.tabla.rows.length; i++) {
                                                    if (i < min || i > max)
                                                        this.tabla.rows[i].style.display = 'none';
                                                    else
                                                        this.tabla.rows[i].style.display = '';
                                                }
                                                this.miDiv.firstChild.rows[0].cells[1].innerHTML = this.pagActual;
                                            }

                                            this.Mostrar = function () {
                                                //Crear la tabla
                                                var tblPaginador = document.createElement('table');

                                                //Agregar una fila a la tabla
                                                var fil = tblPaginador.insertRow(tblPaginador.rows.length);

                                                //Ahora, agregar las celdas que serán los controles
                                                var ant = fil.insertCell(fil.cells.length);
                                                ant.innerHTML = 'Anterior ';
                                                ant.className = 'pag_btn btn-primary'; //con eso le asigno un estilo
                                                var self = this;
                                                ant.onclick = function () {
                                                    if (self.pagActual == 1)
                                                        return;
                                                    self.SetPagina(self.pagActual - 1);
                                                }

                                                var num = fil.insertCell(fil.cells.length);
                                                num.innerHTML = ''; //en rigor, aún no se el número de la página
                                                num.className = 'pag_num';

                                                var sig = fil.insertCell(fil.cells.length);
                                                sig.innerHTML = 'Siguiente';
                                                sig.className = 'pag_btn btn-primary';
                                                sig.onclick = function () {
                                                    if (self.pagActual == self.paginas)
                                                        return;
                                                    self.SetPagina(self.pagActual + 1);
                                                }

                                                //Como ya tengo mi tabla, puedo agregarla al DIV de los controles
                                                this.miDiv.appendChild(tblPaginador);

                                                //¿y esto por qué?
                                                if (this.tabla.rows.length - 1 > this.paginas * this.tamPagina)
                                                    this.paginas = this.paginas + 1;

                                                this.SetPagina(this.pagActual);
                                            }
                                        }
                                    </script>
                                    <div id="paginador"></div>
                                    @*script2 para paginacion*@
                                    <script type="text/javascript">
                                        var p = new Paginador(
                                            document.getElementById('paginador'),
                                            document.getElementById('mytable'),
                                            10
                                        );
                                        p.Mostrar();
                                    </script>

                                </div>

                                <!-- FINAL TABLA DE RESULTADOS -->

                            </div>
                            <!-- FINAL RESULTADOS -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- FINAL RESULTADOS DE BUSQUEDA -->
        </div>
    </div>


    @*Jquery, Popper bootstrap.min.js*@
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    @*este script es para la tabla y filtro de buscado agrupar y paginacion de tabla  el codigo dentro de language es para traducir elementos de la tabla*@
  @*script3 para la paginacion y selector de filas*@
    <script>
        var table = '#mytable'
        $('#maxRows').on('change', function () {
            /*alert('Hola');*/
            $('.pagination').html('')
            var trnum = 0;
            var maxRows = parseInt($(this).val())
            var totalRows = $(table + ' tbody tr').length
            $(table + ' tr:gt(0)').each(function () {
                trnum++
                if (trnum > maxRows) {
                    $(this).hide()
                }
                if (trnum <= maxRows) {
                    $(this).show()
                }
            })
            if (totalRows > maxRows) {
                var pagenum = Math.ceil(totalRows / maxRows)
                for (var i = 1; i <= pagenum;) {
                    $('.pagination').append('<li class="btn" data-page="' + i + '">\<span>' + i++ + '<span class="page-item  sr-only">(current)</span></span>\</li>').show()
                }
            }

            $('.pagination li:first-child').addClass('active')
            $('.pagination li').on('click', function () {
                var pageNum = $(this).attr('date-page')
                var trIndex = 0;
                $('.pagination li').removeClass('active')
                $(this).addClass('active')
                $(table + ' tr:gt(0)').each(function () {
                    trIndex++
                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                        $(this).hide()
                    } else {
                        $(this).show()
                    }

                })
            })
        })



        @*
        $(function () {
            $('table tr:eq(0)').prepend('<th>ID</th>')
            var id = 0;
            $('table tr:gt(0)').each(function () {
                id++
                $(this).prepend('<td>' + id + '</td>')
            })
        })
        *@
    </script>
</body>
</html>

