<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/Home.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163367570-1"></script>

    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-163367570-1');
    </script>
    <style>

        .nav-link {
            color: #858277;
        }

            .nav-link:hover {
                color: white;
            }
    </style>
</head>
<body style="padding-top:0px !important;">
    <!--seccion navbar menu principal-->
    <nav class="navbar navbar-expand-lg navbar navbar-dark navbarClent">
        <!--seccion logo navbar -->
        <div class="container-fluid ">
            <a class="navbar-brand content-logo" href="#">
                <img class="img-fluid" src="~/Content/img/blanco-trans.png" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                <ul class="navbar-nav mb-2 mb-lg-0 ">
                    <li class="nav-item float-md-right">
                        <a class="nav-link active" aria-current="page" href="~/Data/Index" target="_blank" style="color:#fff;">ESTADÍSTICAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Data/Colecciones" target="_blank" style="color:#fff;">COLECCIONES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://dataintelligence.store/blogs/noticias" target="_blank" style="color:#fff;">DATALAB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/account/login" target="_blank" tabindex="-1" aria-disabled="true" style="color:#fff;">ACCESO</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
