

@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DATAINTELLIGENCE | DashboardS</title>
    <!--Estilos del de los productos-->
    <link href="~/Content/EstilosNuevoMenuLateral.css" rel="stylesheet" />
    <link href="~/assets/bootstrap/css/StyleUsuarioBootstrap.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/plugins/jqvmap/jqvmap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <script>
  

        function mostrador(seccion) {
            var arreglo = [
                '#uno',
                '#dos',
                '#tres',
                '#cuatro'
           
            ];
            //arreglo.forEach
            jQuery.each(arreglo, function (i, val) {
                $(val).hide();
            });
            $(seccion).show();
            scrollWin();
        }
</script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Content/img/negro-rojo-trans - copia.png" alt="DATAINTELLIGENCE" 
                 @*height="300" width="300">*@
                height="364" width="1704">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/Content/img/Icono_dataIntelligence_Rojo.png" alt="DATAINTELLIGENCE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">DATAINTELLIGENCE</span>
                
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    @*
            <div class="image">
                <img src="~/assets/img/avatars/avatar1.jpeg" class="img-circle elevation-2" alt="User Image">
            </div>
                    *@
                    <div class="info">
                        <a href="#" class="d-block">@ViewBag.User</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <form action="~/info/PaginaBusqueda">
                    <div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Buscar en tus Suscripciones" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar"  type="submit" value="Submit">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <p style="color:#fff;">
                                    Todos los datos de usuario:
                                    @*<i class="fas fa-angle-left right"></i>*@
                                </p>
                                <a href="#" class="nav-link" style="border:1px solid #377db3">
                                    @*<i class="nav-icon fas fa-edit"></i>*@
                                    <p>
                                        MI CUENTA
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                @if (ViewBag.Menu.Count > 0)
                                {
                                    foreach (var item in ViewBag.Menu)
                                    {
                                        <ul class="nav nav-treeview mb-5" style= "list-style-type: circle">

                                            <li class="nav-item menu-open" style=" border-bottom:1px solid #377db3">
                                                <a onclick="mostrador('#');" href="#" class="nav-link ">
                                                    @*<i class="nav-icon fas fa-tachometer-alt"></i>*@
                                                    <i class="fas fa-circle mr-1" style="color:#518bb3; "></i>
                                                    <p style="color:#518bb3">
                                                        PERFIL
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="nav-item menu-open "  style=" border-bottom: 1px solid #377db3">
                                                <a onclick="mostrador('#');" href="#" class="nav-link ">
                                                    @*<i class="nav-icon fas fa-tachometer-alt"></i>*@
                                                    <i class="fas fa-circle mr-1" style="color:#518bb3; "></i>
                                                    <p style="color:#518bb3">
                                                        PRODUCTOS FACTURADOS
                                                    </p>
                                                </a>
                                            </li>
                                           
                                        </ul>
                                    }
                                }
                                else
                                {
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link" style="border:1px solid #377db3">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>
                                                    Sin Suscripciones
                                                    <i class="fas fa-angle-left right"></i>
                                                </p>
                                            </a>
                                        <li />
                                    </ul>

                                }
                            </li>
                           
                            <!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->

                            <li class="nav-item">
                                <a href="#" class="nav-link" style="border:1px solid #377db3">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>
                                        Productos
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                @if (ViewBag.Menu.Count > 0)
                                {
                                    foreach (var item in ViewBag.Menu)
                                    {
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item menu-open" style=" border-bottom:1px solid #377db3">
                                                <a onclick="mostrador('#uno');" href="#" class="nav-link ">
                                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                                    <p style="color:#518bb3">
                                                        Gráficos
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="nav-item menu-open" style=" border-bottom:1px solid #377db3">
                                                <a onclick="mostrador('#dos');" href="#" class="nav-link ">
                                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                                    <p style="color:#518bb3">
                                                        Informes Interactivos
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="nav-item menu-open" style=" border-bottom:1px solid #377db3">
                                                <a onclick="mostrador('#tres');" href="#" class="nav-link ">
                                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                                    <p style="color:#518bb3">
                                                        Reportes 360°
                                                    </p>
                                                </a>
                                            </li>
                                            @*<li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Industria
                                    @item.nombre
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            @foreach (var item2 in item.SECTOR)
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>
                                                Sector
                                                @item2.nombre
                                                <i class="fas fa-angle-left right"></i>
                                            </p>
                                        </a>
                                        @foreach (var item3 in item2.PRODUCTO)
                                        {
                                            <ul class="nav nav-treeview">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>
                                                            Producto
                                                            @item3.nombre
                                                            <i class="fas fa-angle-left right"></i>
                                                        </p>
                                                    </a>
                                                    @foreach (var item4 in item3.CATEGORIA)
                                                    {
                                                        <ul class="nav nav-treeview">
                                                            <li class="nav-item">
                                                                <a href="#" class="nav-link">
                                                                    <i class="far fa-circle nav-icon"></i>
                                                                    <p>
                                                                        Categoria
                                                                        @item4.nombre
                                                                        <i class="fas fa-angle-left right"></i>
                                                                    </p>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    }
                                                </li>
                                            </ul>
                                        }
                                    </li>
                                </ul>
                            }
                        </li>*@
                                        </ul>
                                    }
                                }
                                else
                                {
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link" style="border:1px solid #377db3">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>
                                                    Sin Suscripciones
                                                    <i class="fas fa-angle-left right"></i>
                                                </p>
                                            </a>
                                        <li />
                                    </ul>

                                }
                            </li>
                            @*<li class="nav-item menu-open">

            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Productos

                </p>
            </a>
        </li>*@

                            <li class="nav-item">
                                <a href="#" class="nav-link" style="border:1px solid #377db3">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>
                                        Navegador
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                @if (ViewBag.Menu.Count > 0)
                                {
                                    foreach (var item in ViewBag.Menu)
                                    {
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="" class="nav-link" style=" border-bottom:1px solid #377db3">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p style="color:#518bb3">
                                                        Industria
                                                        @item.nombre
                                                        <i class="fas fa-angle-left right"></i>
                                                    </p>
                                                </a>
                                                @foreach (var item2 in item.SECTOR)
                                                {
                                                    <ul class="nav nav-treeview">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link">
                                                                <i class="far fa-circle nav-icon"></i>
                                                                <p>
                                                                    Sector
                                                                    @item2.nombre
                                                                    <i class="fas fa-angle-left right"></i>
                                                                </p>
                                                            </a>
                                                            @foreach (var item3 in item2.PRODUCTO)
                                                            {
                                                                <ul class="nav nav-treeview">
                                                                    <li class="nav-item">
                                                                        <a href="#" class="nav-link">
                                                                            <i class="far fa-circle nav-icon"></i>
                                                                            <p>
                                                                                Producto
                                                                                @item3.nombre
                                                                                <i class="fas fa-angle-left right"></i>
                                                                            </p>
                                                                        </a>
                                                                        @foreach (var item4 in item3.CATEGORIA)
                                                                        {
                                                                            <ul class="nav nav-treeview">
                                                                                <li class="nav-item">
                                                                                    <a href="#" class="nav-link">
                                                                                        <i class="far fa-circle nav-icon"></i>
                                                                                        <p>
                                                                                            Categoria
                                                                                            @item4.nombre
                                                                                            <i class="fas fa-angle-left right"></i>
                                                                                        </p>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        }
                                                                    </li>
                                                                </ul>
                                                            }
                                                        </li>
                                                    </ul>
                                                }
                                            </li>
                                        </ul>
                                    }
                                }
                                else
                                {
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>
                                                    Sin Suscripciones
                                                    <i class="fas fa-angle-left right"></i>
                                                </p>
                                            </a>
                                        <li />
                                    </ul>
                                }
                            </li>

                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper ">   
            <!-- Main content -->
            <section class="content " style="padding:0px !important;">
                <div class="container-fluid" style="padding:0px !important;">
                    <div class="d-flex flex-column " id="content-wrapper">
                        <div id="content">
                            <div class="row " style="height:150px;background-color:#ededed;">
                                <div class="col-md-6 col-sm-8 m-text-center offset-1 ">
                                    <h5 style="color:black; margin-top:10px;">¡Explora, busca y encuentra en todo nuestro universo de datos!</h5>
                                    <div class="p-1 bg-light  shadow-sm mb-1 mt-1" style="border-radius:20px !important;">

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button id="button-addon2" type="submit" class="btn btn-link text-dark"><i class="fa fa-search"></i></button>
                                            </div>
                                            <input type="search" id="id" name="id" placeholder="Búsqueda por palabras claves" aria-describedby="button-addon2" class="form-control rounded border-0 bg-light" style="border-radius:25px !important;">
                                        </div>
                                    </div>

                                    <p>
                                        Busca por la palabra clave en todos los sectores de nuestra Data Intelligence. Para buscar dentro de tus productos adquíridos
                                        utiliza el buscador secundario de la izquierda
                                    </p>
                                </div>
                            </div>
                            <!--<nav class="navbar navbar-light navbar-expand topbar static-top" style="height:130px;background-color:#ededed;" >

        <div class="container-fluid">-->
                            @*Boton para esconder el menu lateral*@
                            <!--<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>-->
                            @*Boton para esconder el menu lateral*@

                            <!--<form action="~/info/PaginaBusqueda" method="get" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">-->
                            @*SEARCH BAR BUSCADOR*@
                            <!--<input class="bg-light form-control border-0 small" type="text" id="id" name="id" placeholder="Buscar en DataIntelligence ... ">
            <div class="input-group-append"><button class="btn btn-primary py-0" type="submit" value="Submit"><i class="fas fa-search"></i></button></div>
        </div>
    </form>
    <ul class="nav navbar-nav flex-nowrap ml-auto">
        <li class="nav-item dropdown d-sm-none no-arrow">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
            <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto navbar-search w-100">
                    <div class="input-group">
                        <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                        <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                    </div>
                </form>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1" role="presentation">
            <div class="nav-item dropdown no-arrow">

                <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu">
                    <h6 class="dropdown-header">alerts center</h6>
                    <a class="d-flex align-items-center dropdown-item" href="#">
                        <div class="mr-3">
                            <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                        </div>
                        <div>
                            <span class="small text-gray-500">December 12, 2019</span>
                            <p>A new monthly report is ready to download!</p>
                        </div>
                    </a>
                    <a class="d-flex align-items-center dropdown-item" href="#">
                        <div class="mr-3">
                            <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                        </div>
                        <div>
                            <span class="small text-gray-500">December 7, 2019</span>
                            <p>$290.29 has been deposited into your account!</p>
                        </div>
                    </a>
                    <a class="d-flex align-items-center dropdown-item" href="#">
                        <div class="mr-3">
                            <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                        </div>
                        <div>
                            <span class="small text-gray-500">December 2, 2019</span>
                            <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                        </div>
                    </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1" role="presentation">
            <div class="nav-item dropdown no-arrow">

                <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu">
                    <h6 class="dropdown-header">alerts center</h6>
                    <a class="d-flex align-items-center dropdown-item" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="#">
                            <div class="bg-success status-indicator"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                            <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                        </div>
                    </a>
                    <a class="d-flex align-items-center dropdown-item" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="#">
                            <div class="status-indicator"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                            <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                        </div>
                    </a>
                    <a class="d-flex align-items-center dropdown-item" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="#">
                            <div class="bg-warning status-indicator"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                            <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                        </div>
                    </a>
                    <a class="d-flex align-items-center dropdown-item" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                            <div class="bg-success status-indicator"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                            <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                        </div>
                    </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </div>
            <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
        </li>
        <div class="d-none d-sm-block topbar-divider"></div>
        <!--<li class="nav-item dropdown no-arrow" role="presentation">
            <div class="nav-item dropdown no-arrow">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Welcome, @ViewBag.User</span>-->
                            <!--@* <img class="border rounded-circle img-profile" src="~/assets/img/avatars/avatar1.jpeg">*@-->
                            <!--<!--</a>
    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">

        <a class="dropdown-item" role="presentation" href="~/Manage"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>-->
                            <!--@*<a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>*@
                        @*
    <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                        *@-->
                            <!--<!--<div class="dropdown-divider">
    </div><a class="dropdown-item" role="presentation" href="~/Account/Login" hrefAux="javascript:document.getElementById('logoutForm').submit()">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400">
        </i>&nbsp;Cerrar sesión
    </a>-->
                            <!--@*

    <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                        *@-->
                            <!--</div>
        </div>
    </li>-->
                            <!--</ul>
        </div>
    </nav>-->
                            <div class="container-fluid " id="uno" style="display:none;">
                                @*<div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h3 class="text-dark mb-0">Productos</h3>
            </div>*@
                                <div class="row">
                                    @if (ViewBag.Resultado.Count >= 0)
                                    {
                                        <div class="col-12" style="background-color:black;margin:1%;">


                                            @*<a href="https://dataintelligence.store/" target="_self" style="color:red !important; ">
                            <h3 class="text-dark mb-0" style="color:white !important">
                                Puedes encontrar Productos o Suscripciones en nuestra Tienda al hacer click aqui
                            </h3>
                        </a>*@



                                        </div>
                                    }
                                    else
                                    {
                                        foreach (var item in ViewBag.Resultado)

                                        {
                                            <div class="col-md-6 col-xl-3 mb-4">
                                                <div class="car card shadow border-left-primary" style="border-radius:15px;">
                                                    <img class="card-img-top img-fluid" src="@item.URL_IMAGEN" alt="Card image cap">
                                                    <div class="card-body">
                                                        <div class="row align-items-center no-gutters d-block">
                                                            <div class="text-dark font-weight-bold h5 mb-0">@item.NOMBRE</div>
                                                            <div class="hover_content col mr-2">
                                                                <div class="text-dark font-weight-bold h5 mb-0">PRODUCTO</div>
                                                                <a href="~/Pagina/ValidadorProductosInternos/@item.ID" target="_blank" style="color:lightblue; font-size:30px !important;"> <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">@item.ID</div></a>
                                                                <div class="text-dark font-weight-bold h5 mb-0">COMPROBANTE</div>
                                                                <a href="@item.COMPROBANTE" target="_blank" style="color:lightblue;"> <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">@item.COMPROBANTE</div></a>
                                                                <div class="text-dark font-weight-bold h5 mb-0">SKU</div>
                                                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">@item.SKU</div>
                                                                <div class="text-dark font-weight-bold h5 mb-0">PRODUCT ID</div>
                                                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">@item.PRODUCT_ID</div>
                                                                <div class="text-dark font-weight-bold h5 mb-0">FECHA</div>
                                                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">@item.FECHA_CREADO</div>
                                                            </div>

                                                            @*<div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    }

                                </div>

                                <div class=" justify-content-between align-items-center mb-4">
                                    <h3 class="text-dark mb-0">Gráficos</h3>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <P><strong> Se muestran <span>@ViewBag.Resultado.Count </span>resultados de Gráficos</strong></P>
                                    </div>
                                </div>
                                <div class="row  d-sm-flex  justify-content-between align-items-center mb-4">
                                    @foreach (var item in ViewBag.Resultado)

                                    {
                                        <div class="col-md-6 col-xl-3 mb-4">
                                            @*<a href="~/Pagina/ValidadorProductosInternos/@item.ID" target="_blank">*@
                                            <a href="~/Usuario/Dashboard/@item.ID" target="_blank">
                                                <div class=" maincontainer" style="color:#fff;">

                                                    <div class=" back">
                                                        <div class="row align-items-center no-gutters d-block">
                                                            <div class="text-dark font-weight-bold mb-0" style="color:#fff !important;">

                                                                @item.NOMBRE
                                                            </div>
                                                            <div class="col mr-2">
                                                                <div class="text-dark font-weight-bold h5 mb-0" style="color:#fff !important;">FECHA</div>
                                                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">@item.FECHA_CREADO</div>
                                                            </div>

                                                            @*<div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>*@
                                                        </div>
                                                    </div>

                                                    <div class="front">

                                                        <div class="image">
                                                            <img class="img-fluid" src="@item.URL_IMAGEN">

                                                        </div>

                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    }
                                </div>

                            </div>
                            @*Informes interactivos*@
                            <div class="container-fluid mt-5" id="dos" style="display:none;">
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <h3 class="text-dark mb-0">Informes Interactivos</h3>
                                        <hr style="border:0.5px solid #000000" />
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col">
                                        @*<P><strong> Se muestran <span>@ViewBag.Resultado.Count </span>resultados de Informes Interactivos</strong></P>*@
                                    </div>
                                </div>
                                <div class="row" >

                                    @foreach (var item in ViewBag.Resultado)

                                     {
                                        <div class="col-10" >
                                            <div class="row justify-content-center">
                                                <div class="col-1">
                                                    <img class="img-fluid" src="~/Content/image_UsuarioIndex/logo_informeinteractivo.png" />
                                                </div>
                                                <div class="col-9 text-dark font-weight-bold mb-0" style="color:#518bb3 !important;">
                                                    @item.NOMBRE <br />
                                                    @item.FECHA_CREADO

                                                </div>
                                            </div>
                                        </div>
                                        
                                        @*<div class="col-10 text-uppercase text-primary font-weight-bold text-xs mb-1" style="color:#000000 !important;">@item.FECHA_CREADO</div>*@
                                        @*<div class="col-10 text-primary font-weight-bold text-md" style="color:#000000 !important;">
                                            <p>
                                                Lorem Ipsum es simplemente el texto de relleno de las imprentas y
                                                archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                                                las industrias desde el año 1500,
                                            </p>
                                        </div>*@


                                     }
                                </div>

                            </div>
                            @*Reportes 360*@
                        <div class="container-fluid mt-5" id="tres" style="display:none;">
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <h3 class="text-dark mb-0">Repotes 360°</h3>
                                    <hr style="border:0.5px solid #000000" />
                                </div>
                            </div>
                 
                            <div class="row">
                                <div class="col">
                                    @*<P><strong> Se muestran <span>@ViewBag.Resultado.Count </span>resultados de Repotes 360°</strong></P>*@
                                </div>
                            </div>
                            <div class="row">
                                @foreach (var item in ViewBag.Resultado)

                                {
                                    <div class="col-10">
                                        <div class="row justify-content-center">
                                            <div class="col-1">
                                                <img class="img-fluid" src="~/Content/image_UsuarioIndex/logo_reporte360.png" />
                                            </div>
                                            <div class="col-9 text-dark font-weight-bold mb-0" style="color:#518bb3 !important;">
                                                @item.NOMBRE <br />
                                                @item.FECHA_CREADO

                                            </div>
                                        </div>
                                    </div>

                                 }
                            </div>

                        </div>
                            <div class="container-fluid " style="display:none;">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-dark mb-0">test</h3>

                                    </div>
                                </div>
                                <hr style="border:0.5px solid #000000" />
                                <div class="row">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://dashboardfiltrado.azurewebsites.net/AutoDash/Index/59/0 "></iframe>
                                    </div>
                                    <div id="image-box">
                                        <div id="myframe" class="embed-responsive">
                                        </div>
                                    </div>
                                </div>


                            </div>
                            @*vista bienvenido a cuenta usuario index *@
                            <div class="container-fluid mt-5"  >
                                <div class="row d-flex justify-content-center mb-3">
                                    <div class="col-10 ">
                                        <h5 class="text-dark mb-0">Bienvenido a tu cuenta, @ViewBag.User</h5>
                                    </div>
                                </div>
                                @*<hr style="border:0.5px solid #000000" />*@
                                <div class="row justify-content-center">
                                    <div class="col-10 ">
                                        <img class="img-fluid" src="~/Content/image_UsuarioIndex/cuenta_promocional_1.jpg" />
                                    </div>


                                </div>
                                <div class="row justify-content-center mt-5">
                                    <div class="col-10">
                                        <p>Operatividad</p>
                                        <hr style="border:0.5px solid #000000" />
                                        <p>
                                            Esta cuenta será el medio por el cual podrás ingresar a los productos adquiridos.<br />
                                            En el menú de la izquierda accedes a MI CUENTA donde encontrarás todos los datos de usuario: la cuenta, datos personales, facturas y características de los productos adquiridos.<br />
                                            Encontrarás un buscador secundario que indexa la información referida únicamente a los productos que hayas comprado. Para una búsqueda más extensa deberás usar el buscador de la parte superior.<br />
                                            En el botón PRODUCTOS se encuentran los productos adquiridos, ya sean los Informes Interactivos, Reportes 360º y Datas.
                                            En el botón NAVEGA EN MI SUSCRIPCIÓN podrás conocer todos los TEMAS de la COLECCIÓN adquirida.

                                        </p>
                                    </div>
                                </div>


                            </div>
                            <div class="row justify-content-center mt-5">
                                <div class="col-10">
                                    <p>
                                        Consultas o problemas con tu Cuenta
                                    </p>
                                    <hr style="border:0.5px solid #000000" />
                                </div>
                            </div>
                            <div class="row justify-content-center mt-3 mb-5">
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-2">
                                            <img class="img-fluid" src="~/Content/image_UsuarioIndex/cuenta_promocional_contacto_1.jpg" />
                                        </div>
                                        <div class="col-10">
                                            <p>
                                                En Data Intelligence hacemos todo lo posible para que la experiencia de uso de la información sea lo más grata posible. Puedes contactarnos y hablar con un ejecutivo, un experto o si lo prefieres comunicarte directamente en estas direcciones oficiales.<br />
                                                Estaremos encantados de solucionar cualquier inconveniente o aclarar toda duda:

                                            </p>
                                            <div class="row justify-content-between">
                                                <div class="col-5" style="border:0.5px solid #808080; border-radius:15px;">
                                                    <p class="mt-2">
                                                        GENERAL <br />   
                                                        contacto@dataintelligence-group.com <br />
                                                        +56 9 9438 5412 de 9:00 a 18:00 hrs (GMT-3)

                                                    </p>
                                                </div>
                                                <div class="col-5" style="border:0.5px solid #808080; border-radius:15px;">
                                                    <p class="mt-1">
                                                        SOPORTE <br />
                                                        soporte@dataintelligence-group.com <br />
                                                        +56 9 9438 5412  de 9:00 a 18:00 hrs (GMT-3) <br />
                                                        +56 9 9438 5412  06:00 a 00:00 hrs (GMT-3)

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-5" style="border:0.5px solid #808080; border-radius:15px;">
                                                    <p class="mt-2">
                                                        VENTAS CORPORATIVAS <br />
                                                        ventas@dataintelligence-group.com <br />
                                                        +56 9 9438 5412 de 9:00 a 18:00 hrs (GMT-3)

                                                    </p>
                                                </div>
                                                
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                 <!-- /.container-fluid -->
            </section>
            
            <!-- /.content -->
        </div>
        
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2021 <a href="#">DATAINTELLIGENCE</a>.</strong>
            All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    
</body>
</html>
