

@*<style type="text/css" media="print">

    @@media print {
        @@page {
               /* size: landscape !important;*/
            }

            /*page {
                size: A4 landscape !important;
            }*/
        /*.container {
            width: 100%;
        }*/

        iframe {
          /*  zoom: 50%;*/
           /* transform: scale(.6,.6) !important;*/
             margin: 1px 1px 1px 1px !important;
              /*  margin-right:5in !important;*/
               /* transform: scale(.9,.9) !important;
                -ms-transform: scale(.9,.9) !important;
                -webkit-transform: scale(.9,.9) !important;*/
        }
        /*body {

                page-break-before:always;
                width: 100%;
                height: 100%;
                -webkit-transform: rotate(-90deg) scale(.68,.68);
                -moz-transform: rotate(-90deg) scale(.58,.58);
                zoom: 200%
        }*/
        #hide {
            display: none !important;
        }

        #header, #nav, .noprint {
            display: none !important;
        }
    }
</style>*@


@*<h1>@ViewBag.Grafico</h1>*@

@********************test boton ir atras**********************@
<input class="btn btn-danger btn-sm  mb-2" id="hide" style="border-radius: 25px; font-size: 14px; margin: 0px; width: 100px; cursor: pointer;" type="button" onclick="mostrador('#siete')" name="volver atrás" value="Atrás">


@*<a href="javascript:history.back(-1);" title="Ir la página anterior">Volver</a>*@
<div class="row">
    <div class="col-8">
        <h3 class="text-dark mb-0">@ViewBag.Grafico.TIPO_GRAFICO.nombre</h3>
        <hr style="border:0.5px solid #000000" />
        <h4 class="text-dark mb-0">@ViewBag.Grafico.titulo</h4>
        @*<hr style="border:0.5px solid #000000" />*@
    </div>

</div>
@if (ViewBag.Grafico.TIPO_GRAFICO_id < 3)
{
    <div class="row  justify-content-center">
        <div class="col-12 col-md-10 embed-responsive embed-responsive-16by9 mb-5">
            <iframe class="embed-responsive-item" src="@ViewBag.Grafico.url"></iframe>
        </div>
        <div class="col-md-3 col-2 mt-md-2 mb-md-5 ml-md-1 mr-md-1" style="border-right:1px solid #d9d9d9;">
             <a onclick="javascript:Imprime('Imprimeme');" style="cursor:pointer">Ver en Pdf</a>
            <script>
                function Imprime(Imprimeme) {
                    window.print()
                }
            </script>
        </div>
        @*descripcion y datos de graficos*@
        <section class="container-fluid">
            <style>
                .line-clamp2 {
                    display: -webkit-box;
                    -webkit-line-clamp: 10;
                    -webkit-box-orient: vertical;
                    overflow-wrap: normal;
                    overflow-y: hidden;
                    width: 98%;
                    margin: auto;
                    font-family: sans-serif;
                    line-height: 1.4;
                }

                    .line-clamp2:hover {
                        -webkit-line-clamp: 100;
                        cursor: pointer;
                    }
            </style>
            <div class="row justify-content-center">
                <div class="col-md-10 col-sm-12" style="border:2px solid #e6e6e6; border-radius:15px; ">
                    <div class="row">
                        <div class="col-md-4 col-sm-10 mt-3" style="border-right:0.5px solid #e6e6e6; white-space:normal;">
                            <p style="margin-bottom:0px !important; "><strong>Descripción:</strong></p>

                            <p class='line-clamp2'>
                                @ViewBag.Grafico.descripcion_larga
                            </p>

                        </div>
                        <div class="col-md-3 col-10" style="border-right: 0.5px solid #e6e6e6; white-space: normal;">
                            <p class="mt-md-3 mb-md-0"><strong>Fuente de Datos:</strong></p>
                            <p class="mb-md-1">@ViewBag.Grafico.FUENTE.nombre</p>

                            <p class="mb-md-1">
                                <strong>Periodo: </strong>

                                @ViewBag.Grafico.TEMPORALIDAD.nombre
                            </p>
                            <p class="mb-md-1">
                                <strong>@ViewBag.Grafico.TERRITORIO.auxiliar:</strong>

                                @ViewBag.Grafico.TERRITORIO.nombre
                            </p>
                            <p class="mb-md-1">
                                <strong>País:</strong> Chile-
                                @ViewBag.Grafico.TERRITORIO.iso_pais
                            </p>


                            <p class="mb-md-1"><Strong>Unidad de Medida:</Strong></p>
                            <p style="white-space: normal;"> @ViewBag.Grafico.UNIDAD_MEDIDA1.nombre ( @ViewBag.Grafico.UNIDAD_MEDIDA1.descripcion)</p>
                        </div>

                        <div class="col-md-5 col-10">
                            <p class="mt-md-3"><strong>Ver más información</strong></p>
                            <div class="row justify-content-center mb-md-3">
                                <div class="col-md-5 col-10 text-center">
                                    <a href="https://dataintelligence.store/collections">
                                        <img class="img-fluid mb-4" src="~/Content/image_UsuarioIndex/icono_informeinteractivo_AZUL.png" />
                                        <button class="btn btn-danger" data-backdrop="True" style="font-size: 12px; width: 165px; border-radius: 25px; margin-left: 5px;">
                                            Ver Informe Interactivo
                                        </button>
                                    </a>
                                </div>
                                <div class="col-md-5 col-10 text-center">
                                    <a href="https://dataintelligence.store/collections">
                                        <img class="img-fluid mb-4 " src="~/Content/image_UsuarioIndex/icono_reporte360_VERDE.png" />
                                        <button class="btn btn-danger" data-backdrop="True" style="font-size:12px; width:165px; border-radius:25px;margin-left:5px;">
                                            Ver Reporte 360°
                                        </button>
                                    </a>
                                </div>
                                @*estilos para cortar los tags en 3 filas y ocultar los demas con la clase line-clam *@
                                <style>
                                    .line-clamp {
                                        display: -webkit-box;
                                        -webkit-line-clamp: 3;
                                        -webkit-box-orient: vertical;
                                        overflow-wrap: normal;
                                        overflow-y: hidden;
                                        width: 98%;
                                        margin: auto;
                                        font-family: sans-serif;
                                        line-height: 1.4;
                                    }

                                        .line-clamp:hover {
                                            -webkit-line-clamp: 100;
                                            cursor: pointer;
                                        }
                                </style>
                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        <p class="mt-md-3 mb-md-1"><strong>Tags:</strong></p>
                                        <p id="tagsGrafico" class='line-clamp'>@ViewBag.Grafico.tags</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

    @*seccion de informacion del grafico*@
}
else
{
    @*se desplega los informes interactivos*@
    <div class="row " style="height:5100px;">
        <div class="col-md-12 embed-responsive embed-responsive-16by9 mb-5">
            <iframe class="embed-responsive-item" src="@ViewBag.Grafico.url"></iframe>
        </div>
    </div>
}

@*script para convetir a link los tags*@
<script>
    $(".line-clamp").text($(".line-clamp").text().split(",").join(", "));
    function construirEstructura(Concepto) {
        return '<a href="/Info/Index2?id=' + Concepto + '">' + Concepto + '</a>';
    }
    //var lista = [1, 2, 3, 4]
    //lista.map(alert);
    function estructura() {
        // En esta linea, se transforma el texto del elemento #Gustavo en una lista separando el String por ,
        var lista = $("#tagsGrafico").text().split(",") //["hola1", "hola2", "hola3"]
        // A cada elemento de la lista se le aplioca la funcion construirEstructura
        // La funcion construirEstructura toma un elemento y devuelve un elemento link (en este caso <a>)
        var listaEstructurada = lista.map(construirEstructura)
        // Esta variable vuelve a unir toda la lista en un solo String
        var salida = listaEstructurada.join(", ")
        // Setea el contenido del elemento #Gustavo con el String creado anteriormente
        $("#tagsGrafico").html(salida)
        return salida;
    }
    estructura();
</script>
